/* imports
------------------------------------------------- */

@import "partials/fonts.scss";
@import "partials/icons.scss";

/* basics
------------------------------------------------- */


/** {
  background: rgba(0, 0, 0, 0.05) ! important;
}*/

body {
  padding: 150px 0 0 0;
  font-family: "Antonio";
  background-color: #f0f0f0;
}

:-webkit-full-screen {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
}


/*html.fullscreen,
html.fullscreen body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
}*/

@media (min-width: 550px) {
  body {
    padding: 160px 0 30px 0;
    /*padding: 180px 0 30px 0;*/
    &.fixed {
      /*padding: 180px 0 30px 0;*/
    }
  }
}

@media (min-width: 750px) {
  body {
    padding: 30px 0;
    &.fixed {
      padding: 30px 0;
    }
  }
}

.container {
  padding: 0;
  -webkit-transition: all 0.4s cubic-bezier(0.7, -0.6, 0.3, 1.6);
  -moz-transition: all 0.4s cubic-bezier(0.7, -0.6, 0.3, 1.6);
  transition: all 0.4s cubic-bezier(0.7, -0.6, 0.3, 1.6);
}

.divider {
  background-color: #ffffff;
  position: relative;
  margin: 0;
  border: 0;
  -webkit-transition: all 0.4s cubic-bezier(0.7, -0.6, 0.3, 1.6);
  -moz-transition: all 0.4s cubic-bezier(0.7, -0.6, 0.3, 1.6);
  transition: all 0.4s cubic-bezier(0.7, -0.6, 0.3, 1.6);
}

#diceRollClicker.divider {
  z-index: 4;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05), 0 2px 0 rgba(0, 0, 0, 0.05), 0 3px 0 rgba(0, 0, 0, 0.05);
}

#d.divider,
#formulaModifiers.divider {
  z-index: 3;
}

#utilities.divider {
  z-index: 3;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05), 0 2px 0 rgba(0, 0, 0, 0.05), 0 3px 0 rgba(0, 0, 0, 0.05);
}

#savedRolls.divider {
  z-index: 2;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05), 0 2px 0 rgba(0, 0, 0, 0.05), 0 3px 0 rgba(0, 0, 0, 0.05);
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}

#resultHistory.divider {
  z-index: 1;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}

@media (min-width: 550px) {
  .divider {
    /* margin: 0 0 10px 0;
    border-radius: 4px; */
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05), 0 2px 0 rgba(0, 0, 0, 0.05), 0 3px 0 rgba(0, 0, 0, 0.05);
  }
  #diceRollClicker.divider {
    margin: 0 7.5% 10px 7.5%;
    border-radius: 0 0 4px 4px;
  }
  #d.divider {
    border-radius: 4px 4px 0 0;
  }
  #formulaModifiers.divider,
  #utilities.divider {}
  #savedRolls.divider,
  #resultHistory.divider {
    border-radius: 0 0 4px 4px;
  }
}

@media (min-width: 750px) {
  .divider {
    margin: 0 0 10px 0;
  }
  #diceRollClicker.divider {
    border-radius: 4px;
    margin: 0 0 10px 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 10px 40px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  #d.divider,
  #formulaModifiers.divider,
  #utilities.divider {
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 10px 40px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  #savedRolls.divider,
  #resultHistory.divider {
    border-radius: 4px;
    margin: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 10px 40px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
}

button,
label {
  letter-spacing: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button {
  &:active,
  &.active {
    color: #ffffff;
    border-color: #ff0055;
    background-color: #ff0055;
  }
  &:active .icon {
    color: #ffffff;
  }
}

::selection {
  color: #ffffff;
  background: #ff0055;
  /* WebKit/Blink Browsers */
}

::-moz-selection {
  color: #ffffff;
  background: #ff0055;
  /* Gecko Browsers */
}


/* dice clicker
------------------------------------------------- */

#diceRollClicker {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 150px;
  -webkit-transition: all 0.4s cubic-bezier(0.7, -0.6, 0.3, 1.6);
  -moz-transition: all 0.4s cubic-bezier(0.7, -0.6, 0.3, 1.6);
  transition: all 0.4s cubic-bezier(0.7, -0.6, 0.3, 1.6);
  background-color: #003c4f;
}

@media (min-width: 550px) {
  #diceRollClicker {
    width: 85%;
  }
}

@media (min-width: 750px) {
  #diceRollClicker {
    position: relative;
    top: inherit;
    left: inherit;
    width: initial;
  }
}

body {
  &.fixed #diceRollClicker {
    min-height: 70px;
    /*box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4), 0 10px 40px rgba(0, 0, 0, 0.4);*/
  }
  &.moveDown #diceRollClicker {
    top: 0;
  }
}

@media (min-width: 750px) {
  body.fixed #diceRollClicker {
    /*box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1), 0 10px 40px rgba(0, 0, 0, 0.1);*/
  }
}

@media (min-width: 750px) {
  body.fixed #diceRollClicker {
    position: relative;
    top: inherit;
    left: inherit;
    width: initial;
    min-height: 150px;
  }
}

#diceRollClicker {
  &.critical20 {
    background-color: #33c3f0;
  }
  &.critical1 {
    background-color: #990000;
  }
  #goRoll {
    display: block;
    float: left;
    height: 30px;
    padding: 0 10px;
    margin: 100px 0 0 20px;
    font-size: 0.8em;
    line-height: 30px;
    -webkit-transition: all 0.4s cubic-bezier(0.7, -0.6, 0.3, 1.6);
    -moz-transition: all 0.4s cubic-bezier(0.7, -0.6, 0.3, 1.6);
    transition: all 0.4s cubic-bezier(0.7, -0.6, 0.3, 1.6);
    color: #ffffff;
    border: 0;
    border-color: transparent;
    border-radius: 4px;
    background-color: #ff0055;
  }
}

body.fixed #diceRollClicker #goRoll {
  margin: 20px 0 0 20px;
}

#diceRollClicker #goRoll:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  content: "";
}

body.fixed #diceRollClicker #goRoll:before {
  height: 70px;
}

#diceRollClicker #currentResult {
  position: absolute;
  width: 100%;
  text-align: center;
  p {
    margin: 0;
    font-size: 5em;
    line-height: 150px;
    -webkit-transition: all 0.4s cubic-bezier(0.7, -0.6, 0.3, 1.6);
    -moz-transition: all 0.4s cubic-bezier(0.7, -0.6, 0.3, 1.6);
    transition: all 0.4s cubic-bezier(0.7, -0.6, 0.3, 1.6);
    color: #ffffff;
    text-shadow: none;
  }
}

body.fixed #diceRollClicker #currentResult p {
  font-size: 2em;
  line-height: 70px;
}

@media (min-width: 750px) {
  body.fixed #diceRollClicker #currentResult p {
    font-size: 4em;
    line-height: 150px;
  }
}

#diceRollClicker {
  &:focus #currentResult p,
  &:active #currentResult p {
    text-shadow: 0 0 50px rgba(0, 198, 255, 1), 0 0 10px rgba(0, 198, 255, 1), 0 0 5px rgba(0, 198, 255, 1);
  }
  &.critical20 #currentResult p,
  &.critical1 #currentResult p {
    color: #ffffff;
  }
  &.critical20 #goRoll,
  &.critical1 #goRoll {
    background-color: #ffffff;
  }
  &.critical20 #goRoll {
    color: #33c3f0;
  }
  &.critical1 #goRoll {
    color: #990000;
  }
  .alert {
    position: absolute;
    top: 100px;
    right: 20px;
    visibility: hidden;
    width: 30px;
    height: 30px;
    margin: 0;
    font-family: "Antonio Bold";
    font-size: 1em;
    line-height: 30px;
    -webkit-transition: all 0.4s cubic-bezier(0.7, -0.6, 0.3, 1.6);
    -moz-transition: all 0.4s cubic-bezier(0.7, -0.6, 0.3, 1.6);
    transition: all 0.4s cubic-bezier(0.7, -0.6, 0.3, 1.6);
    text-align: center;
    opacity: 0;
    border-radius: 4px;
    background-color: #ffffff;
  }
}

body.fixed #diceRollClicker .alert {
  top: 20px;
}

#diceRollClicker {
  .reolled1 {
    color: #990000;
  }
  .reolled20 {
    color: #33c3f0;
  }
  &.critical1 .reolled1,
  &.critical20 .reolled20 {
    visibility: visible;
    opacity: 1;
  }
}


/* d
------------------------------------------------- */

#d {
  position: relative;
  width: 100%;
  padding: 15px 0;
  box-sizing: border-box;
  #diceSelector {
    width: 100%;
    padding: 0 10%;
    margin: 0;
    box-sizing: border-box;
    -webkit-transition: all 0.4s cubic-bezier(0.7, -0.6, 0.3, 1.6);
    -moz-transition: all 0.4s cubic-bezier(0.7, -0.6, 0.3, 1.6);
    transition: all 0.4s cubic-bezier(0.7, -0.6, 0.3, 1.6);
  }
  label {
    display: inline-block;
    float: left;
    width: 20%;
    padding: 0;
    margin: 5px 0;
    line-height: 0;
    cursor: pointer;
    text-align: center;
    border: 0;
    outline: none;
    &[for="d10"] {
      margin-left: 10%;
    }
    input {
      display: none;
    }
    .label-body {
      margin: 0;
      line-height: 0;
    }
    .diceRing {
      position: relative;
      display: block;
      width: 40px;
      height: 40px;
      margin: 0;
      box-sizing: border-box;
      -webkit-transition: all 0.4s cubic-bezier(0.7, -0.6, 0.3, 1.6);
      -moz-transition: all 0.4s cubic-bezier(0.7, -0.6, 0.3, 1.6);
      transition: all 0.4s cubic-bezier(0.7, -0.6, 0.3, 1.6);
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      transform: scale(1);
      border: 2px solid transparent;
      border-radius: 50%;
      background-color: #ff0055;
      .icon {
        position: absolute;
        top: 0;
        left: 0;
        width: 36px;
        height: 36px;
        font-size: 2em;
        line-height: 36px;
        -webkit-transition: all 0.4s cubic-bezier(0.7, -0.6, 0.3, 1.6);
        -moz-transition: all 0.4s cubic-bezier(0.7, -0.6, 0.3, 1.6);
        transition: all 0.4s cubic-bezier(0.7, -0.6, 0.3, 1.6);
        text-align: center;
      }
    }
    .label-body .diceRing {
      border-color: transparent;
    }
    &:hover .label-body .diceRing {
      border-color: #003c4f;
      background-color: #ffffff;
    }
    &.active .label-body .diceRing {
      -webkit-transform: scale(1.6);
      -moz-transform: scale(1.6);
      transform: scale(1.6);
      border-color: #003c4f;
      background-color: #ffffff;
    }
    .label-body .icon {
      color: #ffffff;
    }
    &:hover .label-body .icon,
    &.active .label-body .icon {
      color: #003c4f;
    }
  }
}

@media (min-width: 1200px) {
  #d #diceSelector {
    padding: 0 4%;
  }
}

@media (min-width: 1200px) {
  #d label {
    width: 11.1111111111%;
  }
}

@media (min-width: 1200px) {
  #d label[for="d10"] {
    margin-left: 0;
  }
}


/* dicering */


/* dice */


/* formula and modifiers
------------------------------------------------- */

#formulaModifiers {
  position: relative;
  padding: 0 0 10px 0;
  box-sizing: border-box;
}

@media (min-width: 550px) {
  #formulaModifiers {
    padding: 15px 0;
  }
}


/* formula */

#formula {
  position: relative;
  width: 100%;
}

h2 {
  margin: 0 30px 10px 30px;
  font-size: 1em;
  line-height: 1.5em;
  color: #444444;
}

#formula {
  .currentDice,
  .number {
    float: left;
    height: 40px;
    box-sizing: border-box;
  }
  .currentDice {
    width: 20%;
  }
  .number {
    width: 40%;
  }
  .currentDice h1,
  .number input {
    height: 40px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1.5em;
    line-height: 40px;
    text-align: center;
    color: #003c4f;
    border: 0;
    border-radius: 0;
    background-color: transparent;
  }
  .currentDice h1 {
    width: 100%;
    border-bottom: 2px solid #dfdfdf;
  }
  .number {
    input {
      width: 60%;
      border-bottom: 2px solid #ff0055;
    }
    button {
      width: 30%;
      height: 100%;
      padding: 0;
      margin: 0 5%;
      font-size: 1.5em;
      line-height: 100%;
      -webkit-transition: -webkit-transform 0.2s ease-in-out;
      -moz-transition: -moz-transform 0.2s ease-in-out;
      transition: transform 0.2s ease-in-out;
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      transform: scale(0);
      text-align: center;
      color: #ff0055;
      border-color: transparent;
    }
    &.ofDice.active button,
    &.ofBonus.active button {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      transform: scale(1);
    }
    button,
    &.ofDice input {
      float: right;
    }
    button,
    &.ofBonus input {
      float: left;
    }
  }
}


/* modifiers */

#modifiers {
  position: relative;
  width: 100%;
  padding: 10px 0 0 0;
  .changeAmount {
    &.ofDice,
    &.ofBonus {
      width: 40%;
      padding: 0;
      box-sizing: border-box;
    }
    &.ofDice {
      float: left;
      margin-left: 5%;
    }
    &.ofBonus {
      float: right;
      margin-right: 5%;
    }
    button {
      float: left;
      width: 25%;
      height: 40px;
      padding: 0;
      margin: 0;
      font-size: 1em;
      line-height: 40px;
      color: #222222;
      border-color: transparent;
      &.minusOne,
      &.minusFive {
        color: #ff0055;
      }
      &:active {
        &.minusOne,
        &.minusFive {
          color: #ffffff;
        }
        color: #ffffff;
      }
    }
    h3 {
      padding: 0 30px;
      margin: 0;
      font-size: 1em;
      line-height: 1.5em;
      text-align: center;
    }
    &.ofDice h2 {
      float: left;
    }
    &.ofBonus h2 {
      float: right;
    }
  }
}


/* saved rolls
------------------------------------------------- */

#savedRolls {
  max-height: 300px;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  .list {
    .icon {
      padding: 0;
      margin: 0;
    }
    .savedFormula {
      padding: 10px 70px 10px 90px;
      .deleteSavedFormulaConfirm {
        position: absolute;
        top: 20%;
        right: 20px;
        height: 60%;
      }
      button {
        padding: 0 10px;
        margin: 0;
        border: 0;
        height: 100%;
      }
      .roll {
        position: absolute;
        top: 20%;
        left: 20px;
        height: 60%;
      }
      .clear,
      .delete {
        color: #ff0055;
      }
      button:active {
        color: #ffffff;
      }
    }
  }
  .savedFormula {
    .delete,
    .cancel {
      display: none;
      float: right;
    }
    .clear {
      display: block;
    }
    &.showDelete {
      .delete,
      .cancel {
        display: block;
      }
      .clear {
        display: none;
      }
    }
  }
}

@media (min-width: 550px) {
  #savedRolls {
    max-height: inherit;
  }
}


/* result history
------------------------------------------------- */

#resultHistory {
  max-height: 500px;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  &.active {
    min-height: 70px;
  }
  .list p {
    padding: 10px 20px;
  }
}

@media (min-width: 550px) {
  #resultHistory {
    /*margin: 0 0 10px 0;*/
    max-height: 700px;
  }
}

@media (min-width: 750px) {
  #resultHistory {
    /*margin: 0;*/
    position: fixed;
    width: 31.5%;
  }
}

@media (min-width: 1200px) {
  #resultHistory {
    position: fixed;
    width: 27.7%;
  }
}


/* lists */

#savedRolls.active .list,
#resultHistory.active .list {
  padding: 10px 0;
}

.list p {
  position: relative;
  margin: 0;
  font-size: 1em;
  line-height: 1.8em;
  color: #003c4f;
  border-bottom: 1px solid #efefef;
  &:last-child {
    border-bottom: 0;
  }
  .hostoryTotal {
    padding: 2px 5px;
    color: #ffffff;
    border-radius: 4px;
    background-color: #ff0055;
  }
  .multipleDiceResults {
    color: #888888;
  }
  .name {
    background-color: transparent;
    height: inherit;
    max-width: 50%;
    min-width: 5%;
    padding: 0 0 4px 0;
    margin: 0 10px 0 0;
    -webkit-transition: all 0.4s cubic-bezier(0.7, -0.6, 0.3, 1.6);
    -moz-transition: all 0.4s cubic-bezier(0.7, -0.6, 0.3, 1.6);
    transition: all 0.4s cubic-bezier(0.7, -0.6, 0.3, 1.6);
    /*text-align: center;*/
    color: #003c4f;
    border: 0;
    border-bottom: 2px solid #ff0022;
    border-radius: 0;
  }
  button {
    height: inherit;
    padding: 5px 10px;
    margin: 0 10px 0 0;
    line-height: 1em;
    vertical-align: middle;
  }
  .icon {
    font-size: 2em;
    line-height: 1em;
    vertical-align: middle;
  }
  &.critical20 {
    color: #33c3f0;
    .multipleDiceResults,
    .icon {
      color: #33c3f0;
    }
  }
  &.critical1 {
    color: #990000;
    .multipleDiceResults,
    .icon {
      color: #990000;
    }
  }
  &.critical20 .hostoryTotal {
    color: #ffffff;
    background-color: #33c3f0;
  }
  &.critical1 .hostoryTotal {
    color: #ffffff;
    background-color: #990000;
  }
}


/* go fullscreen
------------------------------------------------- */

#utilities {
  position: relative;
  width: 100%;
  padding: 0 0 15px 0;
  box-sizing: border-box;
  text-align: center;
  .tool {
    height: 30px;
    padding: 0 10px;
    margin: 0 10px 0 0;
    box-sizing: border-box;
    line-height: 30px;
    border: 0;
    &:last-child {
      margin: 0;
    }
    .icon {
      margin: 0 2px 0 0;
      font-size: 1.5em;
      line-height: 30px;
      vertical-align: middle;
    }
  }
}

@media (min-width: 550px) {
  #utilities {
    padding: 15px 0;
  }
}
