<section class="l-section l-section-dark l-nav-padding js-section">
  <div class="m-section-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <form class="dice-form clearfix">
            <label for="d2">
              <span class="label-text">d2</span>
              <input type="radio" name="dice-select" id="d2" class="dice-select" value="2" tabindex="1">
            </label>
            <label for="d3">
              <span class="label-text">d3</span>
              <input type="radio" name="dice-select" id="d3" class="dice-select" value="3" tabindex="1">
            </label>
            <label for="d4">
              <span class="label-text">d4</span>
              <input type="radio" name="dice-select" id="d4" class="dice-select" value="4" tabindex="1">
            </label>
            <label for="d6">
              <span class="label-text">d6</span>
              <input type="radio" name="dice-select" id="d6" class="dice-select" value="6" tabindex="1">
            </label>
            <label for="d8">
              <span class="label-text">d8</span>
              <input type="radio" name="dice-select" id="d8" class="dice-select" value="8" tabindex="1">
            </label>
            <label for="d10">
              <span class="label-text">d10</span>
              <input type="radio" name="dice-select" id="d10" class="dice-select" value="10" tabindex="1">
            </label>
            <label for="d12">
              <span class="label-text">d12</span>
              <input type="radio" name="dice-select" id="d12" class="dice-select" value="12" tabindex="1">
            </label>
            <label for="d20" class="active">
              <span class="label-text">d20</span>
              <input type="radio" name="dice-select" id="d20" class="dice-select" value="20" checked tabindex="1">
            </label>
            <label for="d100">
              <span class="label-text">d100</span>
              <input type="radio" name="dice-select" id="d100" class="dice-select" value="100" tabindex="1">
            </label>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="current-formula clearfix">
            <div class="number-of-dice">
              <input type="text" value="1" maxlength="3" tabindex="1">
              <button class="button button-dark clear hidden" tabindex="2"><span class="icon-close"></span></button>
            </div>
            <div class="current-dice" data-dice="20">
              <p>d<span>20</span></p>
            </div>
            <div class="number-of-bonus">
              <input type="text" value="+0" maxlength="3" tabindex="1">
              <button class="button button-dark clear hidden" tabindex="2"><span class="icon-close"></span></button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="input-controls clearfix">
            <div class="input-controls-dice">
              <button class="button button-dark plus-one" tabindex="3"><span class="icon-add"></span></button>
              <button class="button button-dark minus-one" tabindex="3"><span class="icon-remove"></span></button>
            </div>
            <div class="input-controls-bonus">
              <button class="button button-dark minus-one" tabindex="3"><span class="icon-remove"></span></button>
              <button class="button button-dark plus-one" tabindex="3"><span class="icon-add"></span></button>
            </div>
          </div>
        </div>
      </div>
      <div class="row no-gutter">
        <div class="col-xs-3">
          <button class="button button-primary button-block save-current-formula" tabindex="3"><span class="icon-playlist-add"></span> Save</button>
        </div>
        <div class="col-xs-9">
          <button class="button button-primary button-block go-roll" tabindex="3">Roll The Dice</button>
        </div>
      </div>
    </div>
  </div>
</section>
