<section class="l-section l-section-dark l-nav-padding">
  <div class="m-section-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="m-controls">
            <div class="m-controls-third">
              <label class="m-controls-label u-text-right" for="controls-number-of-dice-input">Number of Dice</label>
            </div>
            <div class="m-controls-third">
              <p class="m-controls-label u-text-center">Current Dice</p>
            </div>
            <div class="m-controls-third">
              <label class="m-controls-label" for="controls-number-of-bonus-input">Roll Bonus</label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="m-controls">
            <div class="m-controls-third">
              <input id="controls-number-of-dice-input" class="m-controls-input js-controls-number-of-dice-input u-text-right" type="text" value="1" maxlength="3" tabindex="1">
            </div>
            <div class="m-controls-third">
              <p class="m-controls-dice js-controls-dice">d20</p>
            </div>
            <div class="m-controls-third">
              <input id="controls-number-of-bonus-input" class="m-controls-input js-controls-number-of-bonus-input" type="text" value="+0" maxlength="4" tabindex="1">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="m-controls">
            <div class="m-controls-third">
              <div class="m-controls-button-group button-group button-group-strech button-group-square">
                <button class="m-controls-value-change button button-icon button-icon-only button-small button-tertiary-link js-controls-number-of-dice-clear" tabindex="3"><span class="icon-close"></span></button>
                <button class="m-controls-value-change button button-icon button-icon-only button-small button-tertiary-link js-controls-number-of-dice-minus-one" tabindex="3"><span class="icon-remove"></span></button>
                <button class="m-controls-value-change button button-icon button-icon-only button-small button-tertiary-link js-controls-number-of-dice-plus-one" tabindex="3"><span class="icon-add"></span></button>
              </div>
            </div>
            <div class="m-controls-third">
              <div class="m-controls-button-group button-group button-group-strech button-group-square">
                <button class="m-controls-roll button button-small button-primary js-controls-roll" tabindex="3">Roll the Dice</button>
              </div>
            </div>
            <div class="m-controls-third">
              <div class="m-controls-button-group button-group button-group-strech button-group-square">
                <button class="m-controls-value-change button button-icon button-icon-only button-small button-tertiary-link js-controls-number-of-bonus-plus-one" tabindex="3"><span class="icon-add"></span></button>
                <button class="m-controls-value-change button button-icon button-icon-only button-small button-tertiary-link js-controls-number-of-bonus-minus-one" tabindex="3"><span class="icon-remove"></span></button>
                <button class="m-controls-value-change button button-icon button-icon-only button-small button-tertiary-link js-controls-number-of-bonus-clear" tabindex="3"><span class="icon-close"></span></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
