<section class="l-section l-section-dark l-nav-padding js-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
        <div class="m-current-formula">
          <div class="m-current-formula-number-of-dice">
            <p class="m-current-formula-number-of-dice-label u-small-text u-text-center">Number of Dice</p>
            <input class="m-current-formula-number-of-dice-input js-current-formula-number-of-dice-input" type="text" value="1" maxlength="3" tabindex="1">
            <div class="m-current-formula-controls button-group button-group-strech">
              <button class="m-current-formula-controls-button button button-icon button-small button-tertiary-link js-number-of-dice-clear" tabindex="3"><span class="icon-close"></span></button>
              <button class="m-current-formula-controls-button button button-icon button-small button-tertiary-link js-number-of-dice-minus-one" tabindex="3"><span class="icon-remove"></span></button>
              <button class="m-current-formula-controls-button button button-icon button-small button-tertiary-link js-number-of-dice-plus-one" tabindex="3"><span class="icon-add"></span></button>
            </div>
          </div>
          <div class="m-current-formula-dice">
            <p class="js-current-formula-dice">d20</p>
            <div class="m-current-formula-controls button-group button-group-strech">
              <button class="m-current-formula-controls-button button button-icon button-small button-tertiary-link js-number-of-dice-plus-one" tabindex="3"><span class="icon-add"></span> Save Formula</button>
            </div>
          </div>
          <div class="m-current-formula-number-of-bonus">
            <p class="m-current-formula-number-of-bonus-label u-small-text u-text-center">Roll Bonus</p>
            <input class="m-current-formula-number-of-bonus-input js-current-formula-number-of-bonus-input" type="text" value="+0" maxlength="3" tabindex="1">
            <div class="m-current-formula-controls button-group button-group-strech">
              <button class="m-current-formula-controls-button button button-icon button-small button-tertiary-link js-number-of-bonus-plus-one" tabindex="3"><span class="icon-add"></span></button>
              <button class="m-current-formula-controls-button button button-icon button-small button-tertiary-link js-number-of-bonus-minus-one" tabindex="3"><span class="icon-remove"></span></button>
              <button class="m-current-formula-controls-button button button-icon button-small button-tertiary-link js-number-of-bonus-clear" tabindex="3"><span class="icon-close"></span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--
<div class="row">
  <div class="col-xs-3">
    <button class="button button-primary button-block save-current-formula" tabindex="3"><span class="icon-playlist-add"></span> Save</button>
  </div>
  <div class="col-xs-9">
    <button class="button button-primary button-block m-roll-formula js-roll-formula" tabindex="3">Roll The Dice</button>
  </div>
</div>
-->