<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="m-fab">
        <div class="m-fab-button-wrapper">
          <a href="javascript:void(0)" class="m-fab-button button button-large button-primary js-fab-button" tabindex="3"><span class="icon-lostD20 js-fab-icon"></span></a>
        </div>
      </div>
    </div>
  </div>
</div>
