<section class="l-section m-results js-section js-results">
  <div class="m-section-heading js-section-heading">
    <div class="container">
      <div class="row">
        <div class="col-xs-2">
          <h1>Results</h1>
        </div>
        <div class="col-xs-10">
          <div class="m-section-controls">
            <div class="button-group-strech js-spell-controls">
              <button class="button button-small button-tertiary-link js-spell-state-control js-spell-prepare" data-state="prepare"><span class="icon icon-unfold-more"></span>Expand</button>
              <button class="button button-small button-tertiary-link js-spell-state-control js-spell-unprepare" data-state="unprepare"><span class="icon icon-clear-all"></span>Clear Results</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="m-section-wrapper">

    <div class="container">
      <div class="js-list"></div>
    </div>

  </div>
</section>
