.l-section {
  position: relative;
  z-index: $body;
}

.l-section-dark {
  background-color: $secondary-color-07;
}

.l-nav-padding {
  padding-top: 4.5em;
}

.l-section-results {
  position: fixed;
  width: 100%;
  transition: all $transition-ease-fast;
  &.is-closed {
    top: 100vh;
    transform: translateY(-40px);
  }
  &.is-open {
    top: 4.5em;
    transform: translateY(0);
  }
}

// --------------------------------------------------
// media queries
// --------------------------------------------------
@media (min-width: $screen-sm) {}

@media (min-width: $screen-md) {}

@media (min-width: $screen-lg) {}

@media (min-width: $screen-xl) {}
