/* buttons
------------------------------------------------- */

.button,
button {
  padding: 5px 10px;
  color: $gray-01;
  text-align: center;
  font-size: 0.9rem;
  font-family: $open-sans-semi-bold;
  line-height: 1.5rem;
  text-decoration: none;
  white-space: nowrap;
  background-color: $gray-04;
  border: 1px solid $gray-03;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: $global-radius;
  transition: all $transition-ease-fast;
  display: inline-block;
  &.button-block {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  [class^="icon-"],
  [class*=" icon-"] {
    font-size: 1.3rem;
    vertical-align: text-bottom;
  }
  &:focus {
    background-color: $gray-13;
    outline: 0;
  }
  &:hover {
    color: $white;
    background-color: $gray-02;
    border-color: $gray-02;
    outline: 0;
  }
  &:active,
  &.active {
    color: $white;
    background-color: $gray-04;
    border-color: $gray-04;
  }
  &.button-primary {
    color: $white;
    background-color: $magenta;
    border-color: $magenta-dark;
    &:focus {
      background-color: $magenta-light;
      text-decoration: none;
      color: $white;
    }
    &:hover,
    &.active {
      color: $white;
      background-color: $magenta-dark;
      border-color: $magenta-dark;
      text-decoration: none;
    }
    &.active {
      &:focus {
        background-color: $magenta-light;
      }
    }
    &:active {
      color: $white;
      background-color: $magenta-light;
    }
  }
  &.button-secondary {
    color: $gray-01;
    background-color: transparent;
    border-color: transparent;
    &:focus {
      background-color: $gray-13;
      text-decoration: none;
    }
    &:hover,
    &.active {
      color: $white;
      background-color: $magenta-dark;
      border-color: $magenta-dark;
      text-decoration: none;
    }
    &.active {
      &:focus {
        background-color: $magenta-light;
      }
    }
    &:active {
      color: $white;
      background-color: $magenta-light;
    }
    &.button-dark-background {
      background-color: $gray-02;
      color: $white;
      &:focus {
        background-color: $gray-03;
      }
      &:hover,
      &.active {
        background-color: $magenta-dark;
      }
      &:active {
        background-color: $magenta-light;
      }
    }
  }
}

input {
  &[type="submit"],
  &[type="reset"],
  &[type="button"] {
    display: inline-block;
    height: 2rem;
    padding: 0 15px;
    color: $gray-01;
    text-align: center;
    font-size: 0.8rem;
    font-family: $open-sans-semi-bold;
    line-height: 2rem;
    text-decoration: none;
    white-space: nowrap;
    background-color: $gray-04;
    border: 1px solid $gray-03;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: $global-radius;
    &:hover,
    &:focus {
      color: $white;
      background-color: $gray-02;
      border-color: $gray-02;
      outline: 0;
    }
    &:active {
      color: $white;
      background-color: $gray-04;
      border-color: $gray-04;
    }
  }
}
