/* core
------------------------------------------------- */

body {
  background: $white;
  padding: 0 0 500px 0;
}

.controls {
  margin: 40px 0 0 0;
  padding: 0;
  z-index: 1;
  overflow: hidden;
  .current-formula {
    background-color: $secondary-color;
    .number-of-dice,
    .current-dice,
    .number-of-bonus {
      float: left;
    }
    .current-dice {
      width: 20%;
      p {
        background-color: $gray-alpha-12;
        padding: 0;
        margin: 0;
        text-align: center;
        font-size: 3rem;
        line-height: 90px;
        height: 90px;
        color: $white;
        font-family: $open-sans-condensed-light;
      }
    }
    .number-of-dice,
    .number-of-bonus {
      width: 40%;
      position: relative;
      input {
        margin: 0;
        font-size: 3rem;
        line-height: 90px;
        height: 90px;
        display: block;
        font-family: $open-sans-condensed-light;
        &::-webkit-input-placeholder {
          color: $white;
        }
        &:-moz-placeholder {
          color: $white;
        }
        &::-moz-placeholder {
          color: $white;
        }
      }
    }
  }
  .input-controls {
    background-color: $secondary-color;
    .input-controls-dice,
    .input-controls-bonus {
      width: 40%;
      .button {
        width: 33.3333333333%;
        float: left;
      }
    }
    .input-controls-dice {
      float: left;
    }
    .input-controls-bonus {
      float: right;
    }
    .save {
      width: 20%;
      float: left;
    }
    .input-controls-dice,
    .input-controls-bonus,
    .save {
      .button {
        border: 0;
        border-radius: 0;
        padding: 0;
        margin: 0;
        height: 50px;
        line-height: 50px;
        [class^="icon-"],
        [class*=" icon-"] {
          font-size: 1.3rem;
          height: 50px;
          line-height: 50px;
          display: block;
        }
      }
    }
  }
  .number-of-dice {
    input {
      text-align: right;
      padding: 0 30px 0 0;
    }
  }
  .number-of-bonus {
    input {
      text-align: left;
      padding: 0 0 0 30px;
    }
  }
  .dice-form {
    border-radius: $border-radius-medium $border-radius-medium 0 0;
    background-color: $secondary-color;
    position: relative;
    z-index: 1;
    label {
      padding: 0;
      margin: 0;
      cursor: pointer;
      text-align: center;
      border: 0;
      outline: none;
      position: relative;
      font-size: 1rem;
      font-family: $open-sans-semi-bold;
      width: 11.1111111111%;
      display: block;
      float: left;
      z-index: 3;
      input {
        opacity: 0;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        cursor: pointer;
      }
      .label-text {
        position: relative;
        line-height: 50px;
        display: block;
        color: $gray-10;
        transition: all $transition-ease-medium;
        overflow: hidden;
        &:before {
          background-color: transparent;
          border: 1px solid transparent;
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 5px;
          transition: all $transition-ease-medium;
        }
      }
      &:first-child {
        .label-text {
          border-radius: $border-radius-medium 0 0 0;
        }
      }
      &:last-child {
        .label-text {
          border-radius: 0 $border-radius-medium 0 0;
        }
      }
      &:hover {
        .label-text {
          color: $white;
          background-color: $secondary-color-dark;
          outline: 0;
          text-decoration: none;
        }
      }
      &:active {
        .label-text {
          color: $white;
          background-color: $secondary-color-light;
        }
      }
      &.active {
        z-index: 2;
        .label-text {
          color: $white;
          &:before {
            background-color: $primary-color;
            border-color: $primary-color-dark;
          }
        }
      }
    }
  }
  .go-roll {
    border-radius: 0 0 $border-radius-medium $border-radius-medium;
    height: 50px;
    line-height: 50px;
    font-size: 1rem;
    text-transform: uppercase;
  }
}

.formulas {
  .list {
    margin: 20px 0 0 0;
    transition: all $transition-ease-medium;
    opacity: 0;
    &.active {
      opacity: 1;
    }
    .saved-formula {
      background-color: $secondary-color;
      border-radius: $border-radius-medium;
      overflow: hidden;
      margin: 0 0 5px 0;
      padding: 0;
      z-index: 2;
      &:only-child {
        margin: 0;
      }
      &:last-child {
        margin: 0;
      }
      &:first-child {
        .move-up {
          transform: scale(0);
        }
      }
      &:last-child {
        .move-down {
          transform: scale(0);
        }
      }
      &.moving-up {
        transform: translateY(-85px);
        transition: transform $transition-ease-medium;
      }
      &.moving-down {
        transform: translateY(85px);
        transition: transform $transition-ease-medium;
      }
      .name {
        height: 40px;
        line-height: 40px;
        font-size: 1rem;
      }
      .roll {
        text-transform: uppercase;
        border-radius: 0 0 $border-radius-medium 0;
        height: 40px;
        line-height: 40px;
        font-size: 0.8rem;
      }
      .move-up {
        border: 0;
        border-radius: 0;
      }
      .move-down {
        border: 0;
        border-radius: 0;
      }
      .clear {
        border: 0;
        border-radius: 0;
        height: 40px;
        line-height: 40px;
        [class^="icon-"],
        [class*=" icon-"] {
          height: 38px;
          line-height: 38px;
        }
      }
      .formula {
        background-color: $gray-alpha-12;
        height: 40px;
        line-height: 40px;
        padding: 0 15px;
        margin: 0;
        text-align: right;
        .number-of-dice {
          color: $gray-10;
        }
        .dice {
          color: $gray-13;
        }
        .number-of-bonus {
          color: $gray-10;
        }
      }
      .button {
        [class^="icon-"],
        [class*=" icon-"] {
          font-size: 1.2rem;
        }
      }
    }
  }
}

.results {
  background-color: $gray-01;
  position: fixed;
  bottom: -100px;
  height: 100px;
  width: 100%;
  z-index: 3;
  overflow-y: auto;
  box-shadow: $shadow-medium-inset;
  transition: all $transition-ease-medium;
  box-sizing: border-box;
  .result-item {
    padding: 0 0 10px 0;
    margin: 0 0 10px 0;
    border-bottom: 1px solid $gray-02;
    &:first-child {
      .total {
        border: 3px solid $primary-color;
        &.critical-20 {
          border-color: $gray-alpha-08;
        }
        &.critical-1 {
          border-color: $gray-alpha-08;
        }
      }
    }
    .total,
    .breakdown {
      margin: 0;
      padding: 10px 0;
      display: block;
    }
    .breakdown {
      text-align: left;
      color: $gray-08;
      font-size: 0.9rem;
      .save-roll-name {
        color: $primary-color-light;
      }
      .number-of-dice {
        color: $gray-12;
      }
      .dice {
        color: $gray-12;
      }
      .multiple-dice-results {
        color: $gray-06;
        .strike {
          text-decoration: line-through;
          color: $primary-color-light;
        }
      }
      .number-of-bonus {
        color: $gray-12;
      }
    }
    .total {
      text-align: center;
      border: 3px solid transparent;
      border-radius: $border-radius-medium;
      font-family: $open-sans-condensed-light;
      color: $gray-12;
      line-height: 1.2rem;
      font-size: 1.6rem;
      &.critical-20 {
        background-color: $critical-20;
        border-color: $gray-alpha-08;
        color: $white;
      }
      &.critical-1 {
        background-color: $critical-1;
        border-color: $gray-alpha-08;
        color: $white;
      }
    }
  }
  &.active {
    bottom: 0;
  }
  &.fullsize {
    height: 100%;
    bottom: 0;
  }
}

.prompt {
  .container {
    max-width: 100%;
  }
  h1 {
    margin: 1rem 0;
  }
  &.prompt-shade {
    background-color: $gray-alpha-02;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: $prompt;
    opacity: 0;
    transition: all $transition-bounce-medium;
  }
  &.prompt-clear-awesome-sheet {
    border-left: 10px solid $primary-color;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: $prompt;
    background: $white;
    width: 90%;
    padding: 20px 15px 20px 25px;
    box-sizing: border-box;
    border-radius: $border-radius-small;
    transform: translate(-50%, -50%);
    box-shadow: $shadow-large;
    opacity: 0;
    transition: all $transition-bounce-medium;
  }
  .button {
    margin: 0 5px 5px 0;
    &:last-child {
      margin-right: 0;
    }
  }
}

.snacks {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 4;
  .snack-bar {
    background-color: $gray-02;
    border-bottom: 1px solid $gray-01;
    padding: 0 10px;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    height: 0;
    overflow: hidden;
    box-shadow: $shadow-medium;
    transition: height $transition-ease-medium, margin $transition-ease-medium, padding $transition-ease-medium;
    p {
      color: $white;
      line-height: 1.5rem;
      margin: 0 10px;
      font-size: 0.8rem;
    }
    .button {
      margin: 0 0 0 5px;
      float: right;
      [class^="icon-"],
      [class*=" icon-"] {
        font-size: 0.8rem;
      }
    }
    &:first-child {
      margin: 0;
    }
    &:last-child {
      border: 0;
    }
    &.reveal {
      padding: 10px;
      height: 43px;
    }
  }
}


/* media queries
------------------------------------------------- */

@media (min-width: $screen-sm) {
  .formulas {
    .list {
      .saved-formula {
        &.moving-up {
          transform: translateY(-45px);
          transition: transform $transition-ease-medium;
        }
        &.moving-down {
          transform: translateY(45px);
          transition: transform $transition-ease-medium;
        }
        .roll {
          border-radius: 0 $border-radius-medium $border-radius-medium 0;
        }
      }
    }
  }
}

@media (min-width: $screen-md) {}

@media (min-width: $screen-lg) {}

@media (min-width: $screen-xl) {}


/* animations
------------------------------------------------- */

@keyframes flash-light {
  0% {
    background-color: $gray-alpha-04;
  }
  100% {
    background-color: transparent;
  }
}

@keyframes flash-dark {
  0% {
    background-color: $gray-alpha-02;
  }
  100% {
    background-color: transparent;
  }
}
