/* dice icons
------------------------------------------------- */

@font-face {
  font-family: 'diceIcon';
  src: url('../fonts/diceIcon/diceIcon.eot?-edhebb');
  src: url('../fonts/diceIcon/diceIcon.eot?#iefix-edhebb') format('embedded-opentype'), url('../fonts/diceIcon/diceIcon.woff?-edhebb') format('woff'), url('../fonts/diceIcon/diceIcon.ttf?-edhebb') format('truetype'), url('../fonts/diceIcon/diceIcon.svg?-edhebb#diceIcon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="diceIcon-"],
[class*=" diceIcon-"] {
  font-family: 'diceIcon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.diceIcon-d2:before {
  content: "\e600";
}

.diceIcon-d3:before {
  content: "\e601";
}

.diceIcon-d4:before {
  content: "\e602";
}

.diceIcon-d6:before {
  content: "\e603";
}

.diceIcon-d8:before {
  content: "\e604";
}

.diceIcon-d10:before {
  content: "\e605";
}

.diceIcon-d12:before {
  content: "\e606";
}

.diceIcon-d20:before {
  content: "\e607";
}

.diceIcon-d100:before {
  content: "\e608";
}


/* material icons
------------------------------------------------- */

@font-face {
  font-family: 'Material Design Icons';
  src: url('../fonts/material-design-icons/material-design-icons.eot?sedn45');
  src: url('../fonts/material-design-icons/material-design-icons.eot?#iefixsedn45') format('embedded-opentype'), url('../fonts/material-design-icons/material-design-icons.ttf?sedn45') format('truetype'), url('../fonts/material-design-icons/material-design-icons.woff?sedn45') format('woff'), url('../fonts/material-design-icons/material-design-icons.svg?sedn45#Material Design Icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: 'Material Design Icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-error:before {
  content: "\e000";
}

.icon-error-outline:before {
  content: "\e001";
}

.icon-warning:before {
  content: "\e002";
}

.icon-add-alert:before {
  content: "\e003";
}

.icon-album:before {
  content: "\e004";
}

.icon-av-timer:before {
  content: "\e005";
}

.icon-closed-caption:before {
  content: "\e006";
}

.icon-equalizer:before {
  content: "\e007";
}

.icon-explicit:before {
  content: "\e008";
}

.icon-fast-forward:before {
  content: "\e009";
}

.icon-fast-rewind:before {
  content: "\e00a";
}

.icon-games:before {
  content: "\e00b";
}

.icon-hearing:before {
  content: "\e00c";
}

.icon-high-quality:before {
  content: "\e00d";
}

.icon-loop:before {
  content: "\e00e";
}

.icon-mic:before {
  content: "\e00f";
}

.icon-mic-none:before {
  content: "\e010";
}

.icon-mic-off:before {
  content: "\e011";
}

.icon-movie:before {
  content: "\e012";
}

.icon-library-add:before {
  content: "\e013";
}

.icon-library-books:before {
  content: "\e014";
}

.icon-library-music:before {
  content: "\e015";
}

.icon-new-releases:before {
  content: "\e016";
}

.icon-not-interested:before {
  content: "\e017";
}

.icon-pause:before {
  content: "\e018";
}

.icon-pause-circle-filled:before {
  content: "\e019";
}

.icon-pause-circle-outline:before {
  content: "\e01a";
}

.icon-play-arrow:before {
  content: "\e01b";
}

.icon-play-circle-filled:before {
  content: "\e01c";
}

.icon-play-circle-outline:before {
  content: "\e01d";
}

.icon-playlist-add:before {
  content: "\e01e";
}

.icon-queue:before {
  content: "\e01f";
}

.icon-queue-music:before {
  content: "\e020";
}

.icon-radio:before {
  content: "\e021";
}

.icon-recent-actors:before {
  content: "\e022";
}

.icon-repeat:before {
  content: "\e023";
}

.icon-repeat-one:before {
  content: "\e024";
}

.icon-replay:before {
  content: "\e025";
}

.icon-shuffle:before {
  content: "\e026";
}

.icon-skip-next:before {
  content: "\e027";
}

.icon-skip-previous:before {
  content: "\e028";
}

.icon-snooze:before {
  content: "\e029";
}

.icon-stop:before {
  content: "\e02a";
}

.icon-subtitles:before {
  content: "\e02b";
}

.icon-surround-sound:before {
  content: "\e02c";
}

.icon-video-collection:before {
  content: "\e02d";
}

.icon-videocam:before {
  content: "\e02e";
}

.icon-videocam-off:before {
  content: "\e02f";
}

.icon-volume-down:before {
  content: "\e030";
}

.icon-volume-mute:before {
  content: "\e031";
}

.icon-volume-off:before {
  content: "\e032";
}

.icon-volume-up:before {
  content: "\e033";
}

.icon-web:before {
  content: "\e034";
}

.icon-hd:before {
  content: "\e035";
}

.icon-sort-by-alpha:before {
  content: "\e036";
}

.icon-airplay:before {
  content: "\e037";
}

.icon-forward-10:before {
  content: "\e038";
}

.icon-forward-30:before {
  content: "\e039";
}

.icon-forward-5:before {
  content: "\e03a";
}

.icon-replay-10:before {
  content: "\e03b";
}

.icon-replay-30:before {
  content: "\e03c";
}

.icon-replay-5:before {
  content: "\e03d";
}

.icon-business:before {
  content: "\e03e";
}

.icon-call:before {
  content: "\e03f";
}

.icon-call-end:before {
  content: "\e040";
}

.icon-call-made:before {
  content: "\e041";
}

.icon-call-merge:before {
  content: "\e042";
}

.icon-call-missed:before {
  content: "\e043";
}

.icon-call-received:before {
  content: "\e044";
}

.icon-call-split:before {
  content: "\e045";
}

.icon-chat:before {
  content: "\e046";
}

.icon-clear-all:before {
  content: "\e047";
}

.icon-comment:before {
  content: "\e048";
}

.icon-contacts:before {
  content: "\e049";
}

.icon-dialer-sip:before {
  content: "\e04a";
}

.icon-dialpad:before {
  content: "\e04b";
}

.icon-email:before {
  content: "\e04c";
}

.icon-forum:before {
  content: "\e04d";
}

.icon-import-export:before {
  content: "\e04e";
}

.icon-invert-colors-off:before {
  content: "\e04f";
}

.icon-live-help:before {
  content: "\e050";
}

.icon-location-off:before {
  content: "\e051";
}

.icon-location-on:before {
  content: "\e052";
}

.icon-message:before {
  content: "\e053";
}

.icon-chat-bubble:before {
  content: "\e054";
}

.icon-chat-bubble-outline:before {
  content: "\e055";
}

.icon-no-sim:before {
  content: "\e056";
}

.icon-phone:before {
  content: "\e057";
}

.icon-portable-wifi-off:before {
  content: "\e058";
}

.icon-contact-phone:before {
  content: "\e059";
}

.icon-ring-volume:before {
  content: "\e05a";
}

.icon-speaker-phone:before {
  content: "\e05b";
}

.icon-stay-current-landscape:before {
  content: "\e05c";
}

.icon-stay-current-portrait:before {
  content: "\e05d";
}

.icon-stay-primary-landscape:before {
  content: "\e05e";
}

.icon-stay-primary-portrait:before {
  content: "\e05f";
}

.icon-swap-calls:before {
  content: "\e060";
}

.icon-textsms:before {
  content: "\e061";
}

.icon-voicemail:before {
  content: "\e062";
}

.icon-vpn-key:before {
  content: "\e063";
}

.icon-phonelink-erase:before {
  content: "\e064";
}

.icon-phonelink-lock:before {
  content: "\e065";
}

.icon-phonelink-ring:before {
  content: "\e066";
}

.icon-phonelink-setup:before {
  content: "\e067";
}

.icon-present-to-all:before {
  content: "\e068";
}

.icon-add:before {
  content: "\e069";
}

.icon-add-box:before {
  content: "\e06a";
}

.icon-add-circle:before {
  content: "\e06b";
}

.icon-add-circle-outline:before {
  content: "\e06c";
}

.icon-archive:before {
  content: "\e06d";
}

.icon-backspace:before {
  content: "\e06e";
}

.icon-block:before {
  content: "\e06f";
}

.icon-clear:before {
  content: "\e070";
}

.icon-content-copy:before {
  content: "\e071";
}

.icon-content-cut:before {
  content: "\e072";
}

.icon-content-paste:before {
  content: "\e073";
}

.icon-create:before {
  content: "\e074";
}

.icon-drafts:before {
  content: "\e075";
}

.icon-filter-list:before {
  content: "\e076";
}

.icon-flag:before {
  content: "\e077";
}

.icon-forward:before {
  content: "\e078";
}

.icon-gesture:before {
  content: "\e079";
}

.icon-inbox:before {
  content: "\e07a";
}

.icon-link:before {
  content: "\e07b";
}

.icon-mail:before {
  content: "\e07c";
}

.icon-markunread:before {
  content: "\e07d";
}

.icon-redo:before {
  content: "\e07e";
}

.icon-remove:before {
  content: "\e07f";
}

.icon-remove-circle:before {
  content: "\e080";
}

.icon-remove-circle-outline:before {
  content: "\e081";
}

.icon-reply:before {
  content: "\e082";
}

.icon-reply-all:before {
  content: "\e083";
}

.icon-report:before {
  content: "\e084";
}

.icon-save:before {
  content: "\e085";
}

.icon-select-all:before {
  content: "\e086";
}

.icon-send:before {
  content: "\e087";
}

.icon-sort:before {
  content: "\e088";
}

.icon-text-format:before {
  content: "\e089";
}

.icon-undo:before {
  content: "\e08a";
}

.icon-font-download:before {
  content: "\e08b";
}

.icon-access-alarm:before {
  content: "\e08c";
}

.icon-access-alarms:before {
  content: "\e08d";
}

.icon-access-time:before {
  content: "\e08e";
}

.icon-add-alarm:before {
  content: "\e08f";
}

.icon-airplanemode-inactive:before {
  content: "\e090";
}

.icon-airplanemode-active:before {
  content: "\e091";
}

.icon-battery-alert:before {
  content: "\e092";
}

.icon-battery-charging-full:before {
  content: "\e093";
}

.icon-battery-full:before {
  content: "\e094";
}

.icon-battery-std:before {
  content: "\e095";
}

.icon-battery-unknown:before {
  content: "\e096";
}

.icon-bluetooth:before {
  content: "\e097";
}

.icon-bluetooth-connected:before {
  content: "\e098";
}

.icon-bluetooth-disabled:before {
  content: "\e099";
}

.icon-bluetooth-searching:before {
  content: "\e09a";
}

.icon-brightness-auto:before {
  content: "\e09b";
}

.icon-brightness-high:before {
  content: "\e09c";
}

.icon-brightness-low:before {
  content: "\e09d";
}

.icon-brightness-medium:before {
  content: "\e09e";
}

.icon-data-usage:before {
  content: "\e09f";
}

.icon-developer-mode:before {
  content: "\e0a0";
}

.icon-devices:before {
  content: "\e0a1";
}

.icon-dvr:before {
  content: "\e0a2";
}

.icon-gps-fixed:before {
  content: "\e0a3";
}

.icon-gps-not-fixed:before {
  content: "\e0a4";
}

.icon-gps-off:before {
  content: "\e0a5";
}

.icon-location-disabled:before {
  content: "\e0a6";
}

.icon-location-searching:before {
  content: "\e0a7";
}

.icon-graphic-eq:before {
  content: "\e0a8";
}

.icon-network-cell:before {
  content: "\e0a9";
}

.icon-network-wifi:before {
  content: "\e0aa";
}

.icon-nfc:before {
  content: "\e0ab";
}

.icon-now-wallpaper:before {
  content: "\e0ac";
}

.icon-now-widgets:before {
  content: "\e0ad";
}

.icon-screen-lock-landscape:before {
  content: "\e0ae";
}

.icon-screen-lock-portrait:before {
  content: "\e0af";
}

.icon-screen-lock-rotation:before {
  content: "\e0b0";
}

.icon-screen-rotation:before {
  content: "\e0b1";
}

.icon-sd-storage:before {
  content: "\e0b2";
}

.icon-settings-system-daydream:before {
  content: "\e0b3";
}

.icon-signal-cellular-4-bar:before {
  content: "\e0b4";
}

.icon-signal-cellular-connected-no-internet-4-bar:before {
  content: "\e0b5";
}

.icon-signal-cellular-no-sim:before {
  content: "\e0b6";
}

.icon-signal-cellular-null:before {
  content: "\e0b7";
}

.icon-signal-cellular-off:before {
  content: "\e0b8";
}

.icon-signal-wifi-4-bar:before {
  content: "\e0b9";
}

.icon-signal-wifi-4-bar-lock:before {
  content: "\e0ba";
}

.icon-signal-wifi-off:before {
  content: "\e0bb";
}

.icon-storage:before {
  content: "\e0bc";
}

.icon-usb:before {
  content: "\e0bd";
}

.icon-wifi-lock:before {
  content: "\e0be";
}

.icon-wifi-tethering:before {
  content: "\e0bf";
}

.icon-attach-file:before {
  content: "\e0c0";
}

.icon-attach-money:before {
  content: "\e0c1";
}

.icon-border-all:before {
  content: "\e0c2";
}

.icon-border-bottom:before {
  content: "\e0c3";
}

.icon-border-clear:before {
  content: "\e0c4";
}

.icon-border-color:before {
  content: "\e0c5";
}

.icon-border-horizontal:before {
  content: "\e0c6";
}

.icon-border-inner:before {
  content: "\e0c7";
}

.icon-border-left:before {
  content: "\e0c8";
}

.icon-border-outer:before {
  content: "\e0c9";
}

.icon-border-right:before {
  content: "\e0ca";
}

.icon-border-style:before {
  content: "\e0cb";
}

.icon-border-top:before {
  content: "\e0cc";
}

.icon-border-vertical:before {
  content: "\e0cd";
}

.icon-format-align-center:before {
  content: "\e0ce";
}

.icon-format-align-justify:before {
  content: "\e0cf";
}

.icon-format-align-left:before {
  content: "\e0d0";
}

.icon-format-align-right:before {
  content: "\e0d1";
}

.icon-format-bold:before {
  content: "\e0d2";
}

.icon-format-clear:before {
  content: "\e0d3";
}

.icon-format-color-fill:before {
  content: "\e0d4";
}

.icon-format-color-reset:before {
  content: "\e0d5";
}

.icon-format-color-text:before {
  content: "\e0d6";
}

.icon-format-indent-decrease:before {
  content: "\e0d7";
}

.icon-format-indent-increase:before {
  content: "\e0d8";
}

.icon-format-italic:before {
  content: "\e0d9";
}

.icon-format-line-spacing:before {
  content: "\e0da";
}

.icon-format-list-bulleted:before {
  content: "\e0db";
}

.icon-format-list-numbered:before {
  content: "\e0dc";
}

.icon-format-paint:before {
  content: "\e0dd";
}

.icon-format-quote:before {
  content: "\e0de";
}

.icon-format-size:before {
  content: "\e0df";
}

.icon-format-strikethrough:before {
  content: "\e0e0";
}

.icon-format-textdirection-l-to-r:before {
  content: "\e0e1";
}

.icon-format-textdirection-r-to-l:before {
  content: "\e0e2";
}

.icon-format-underlined:before {
  content: "\e0e3";
}

.icon-functions:before {
  content: "\e0e4";
}

.icon-insert-chart:before {
  content: "\e0e5";
}

.icon-insert-comment:before {
  content: "\e0e6";
}

.icon-insert-drive-file:before {
  content: "\e0e7";
}

.icon-insert-emoticon:before {
  content: "\e0e8";
}

.icon-insert-invitation:before {
  content: "\e0e9";
}

.icon-insert-link:before {
  content: "\e0ea";
}

.icon-insert-photo:before {
  content: "\e0eb";
}

.icon-merge-type:before {
  content: "\e0ec";
}

.icon-mode-comment:before {
  content: "\e0ed";
}

.icon-mode-edit:before {
  content: "\e0ee";
}

.icon-publish:before {
  content: "\e0ef";
}

.icon-space-bar:before {
  content: "\e0f0";
}

.icon-strikethrough-s:before {
  content: "\e0f1";
}

.icon-vertical-align-bottom:before {
  content: "\e0f2";
}

.icon-vertical-align-center:before {
  content: "\e0f3";
}

.icon-vertical-align-top:before {
  content: "\e0f4";
}

.icon-wrap-text:before {
  content: "\e0f5";
}

.icon-money-off:before {
  content: "\e0f6";
}

.icon-attachment:before {
  content: "\e0f7";
}

.icon-cloud:before {
  content: "\e0f8";
}

.icon-cloud-circle:before {
  content: "\e0f9";
}

.icon-cloud-done:before {
  content: "\e0fa";
}

.icon-cloud-download:before {
  content: "\e0fb";
}

.icon-cloud-off:before {
  content: "\e0fc";
}

.icon-cloud-queue:before {
  content: "\e0fd";
}

.icon-cloud-upload:before {
  content: "\e0fe";
}

.icon-file-download:before {
  content: "\e0ff";
}

.icon-file-upload:before {
  content: "\e100";
}

.icon-folder:before {
  content: "\e101";
}

.icon-folder-open:before {
  content: "\e102";
}

.icon-folder-shared:before {
  content: "\e103";
}

.icon-cast:before {
  content: "\e104";
}

.icon-cast-connected:before {
  content: "\e105";
}

.icon-computer:before {
  content: "\e106";
}

.icon-desktop-mac:before {
  content: "\e107";
}

.icon-desktop-windows:before {
  content: "\e108";
}

.icon-developer-board:before {
  content: "\e109";
}

.icon-dock:before {
  content: "\e10a";
}

.icon-gamepad:before {
  content: "\e10b";
}

.icon-headset:before {
  content: "\e10c";
}

.icon-headset-mic:before {
  content: "\e10d";
}

.icon-keyboard:before {
  content: "\e10e";
}

.icon-keyboard-arrow-down:before {
  content: "\e10f";
}

.icon-keyboard-arrow-left:before {
  content: "\e110";
}

.icon-keyboard-arrow-right:before {
  content: "\e111";
}

.icon-keyboard-arrow-up:before {
  content: "\e112";
}

.icon-keyboard-backspace:before {
  content: "\e113";
}

.icon-keyboard-capslock:before {
  content: "\e114";
}

.icon-keyboard-hide:before {
  content: "\e115";
}

.icon-keyboard-return:before {
  content: "\e116";
}

.icon-keyboard-tab:before {
  content: "\e117";
}

.icon-keyboard-voice:before {
  content: "\e118";
}

.icon-laptop:before {
  content: "\e119";
}

.icon-laptop-chromebook:before {
  content: "\e11a";
}

.icon-laptop-mac:before {
  content: "\e11b";
}

.icon-laptop-windows:before {
  content: "\e11c";
}

.icon-memory:before {
  content: "\e11d";
}

.icon-mouse:before {
  content: "\e11e";
}

.icon-phone-android:before {
  content: "\e11f";
}

.icon-phone-iphone:before {
  content: "\e120";
}

.icon-phonelink:before {
  content: "\e121";
}

.icon-phonelink-off:before {
  content: "\e122";
}

.icon-router:before {
  content: "\e123";
}

.icon-scanner:before {
  content: "\e124";
}

.icon-security:before {
  content: "\e125";
}

.icon-sim-card:before {
  content: "\e126";
}

.icon-smartphone:before {
  content: "\e127";
}

.icon-speaker:before {
  content: "\e128";
}

.icon-speaker-group:before {
  content: "\e129";
}

.icon-tablet:before {
  content: "\e12a";
}

.icon-tablet-android:before {
  content: "\e12b";
}

.icon-tablet-mac:before {
  content: "\e12c";
}

.icon-toys:before {
  content: "\e12d";
}

.icon-tv:before {
  content: "\e12e";
}

.icon-watch:before {
  content: "\e12f";
}

.icon-device-hub:before {
  content: "\e130";
}

.icon-power-input:before {
  content: "\e131";
}

.icon-add-to-photos:before {
  content: "\e132";
}

.icon-adjust:before {
  content: "\e133";
}

.icon-assistant:before {
  content: "\e134";
}

.icon-assistant-photo:before {
  content: "\e135";
}

.icon-audiotrack:before {
  content: "\e136";
}

.icon-blur-circular:before {
  content: "\e137";
}

.icon-blur-linear:before {
  content: "\e138";
}

.icon-blur-off:before {
  content: "\e139";
}

.icon-blur-on:before {
  content: "\e13a";
}

.icon-brightness-1:before {
  content: "\e13b";
}

.icon-brightness-2:before {
  content: "\e13c";
}

.icon-brightness-3:before {
  content: "\e13d";
}

.icon-brightness-4:before {
  content: "\e13e";
}

.icon-brightness-5:before {
  content: "\e13f";
}

.icon-brightness-6:before {
  content: "\e140";
}

.icon-brightness-7:before {
  content: "\e141";
}

.icon-broken-image:before {
  content: "\e142";
}

.icon-brush:before {
  content: "\e143";
}

.icon-camera:before {
  content: "\e144";
}

.icon-camera-alt:before {
  content: "\e145";
}

.icon-camera-front:before {
  content: "\e146";
}

.icon-camera-rear:before {
  content: "\e147";
}

.icon-camera-roll:before {
  content: "\e148";
}

.icon-center-focus-strong:before {
  content: "\e149";
}

.icon-center-focus-weak:before {
  content: "\e14a";
}

.icon-collections:before {
  content: "\e14b";
}

.icon-color-lens:before {
  content: "\e14c";
}

.icon-colorize:before {
  content: "\e14d";
}

.icon-compare:before {
  content: "\e14e";
}

.icon-control-point:before {
  content: "\e14f";
}

.icon-control-point-duplicate:before {
  content: "\e150";
}

.icon-crop-16-9:before {
  content: "\e151";
}

.icon-crop-3-2:before {
  content: "\e152";
}

.icon-crop:before {
  content: "\e153";
}

.icon-crop-5-4:before {
  content: "\e154";
}

.icon-crop-7-5:before {
  content: "\e155";
}

.icon-crop-din:before {
  content: "\e156";
}

.icon-crop-free:before {
  content: "\e157";
}

.icon-crop-landscape:before {
  content: "\e158";
}

.icon-crop-original:before {
  content: "\e159";
}

.icon-crop-portrait:before {
  content: "\e15a";
}

.icon-crop-square:before {
  content: "\e15b";
}

.icon-dehaze:before {
  content: "\e15c";
}

.icon-details:before {
  content: "\e15d";
}

.icon-edit:before {
  content: "\e15e";
}

.icon-exposure:before {
  content: "\e15f";
}

.icon-exposure-minus-1:before {
  content: "\e160";
}

.icon-exposure-minus-2:before {
  content: "\e161";
}

.icon-exposure-plus-1:before {
  content: "\e162";
}

.icon-exposure-plus-2:before {
  content: "\e163";
}

.icon-exposure-zero:before {
  content: "\e164";
}

.icon-filter-1:before {
  content: "\e165";
}

.icon-filter-2:before {
  content: "\e166";
}

.icon-filter-3:before {
  content: "\e167";
}

.icon-filter:before {
  content: "\e168";
}

.icon-filter-4:before {
  content: "\e169";
}

.icon-filter-5:before {
  content: "\e16a";
}

.icon-filter-6:before {
  content: "\e16b";
}

.icon-filter-7:before {
  content: "\e16c";
}

.icon-filter-8:before {
  content: "\e16d";
}

.icon-filter-9:before {
  content: "\e16e";
}

.icon-filter-9-plus:before {
  content: "\e16f";
}

.icon-filter-b-and-w:before {
  content: "\e170";
}

.icon-filter-center-focus:before {
  content: "\e171";
}

.icon-filter-drama:before {
  content: "\e172";
}

.icon-filter-frames:before {
  content: "\e173";
}

.icon-filter-hdr:before {
  content: "\e174";
}

.icon-filter-none:before {
  content: "\e175";
}

.icon-filter-tilt-shift:before {
  content: "\e176";
}

.icon-filter-vintage:before {
  content: "\e177";
}

.icon-flare:before {
  content: "\e178";
}

.icon-flash-auto:before {
  content: "\e179";
}

.icon-flash-off:before {
  content: "\e17a";
}

.icon-flash-on:before {
  content: "\e17b";
}

.icon-flip:before {
  content: "\e17c";
}

.icon-gradient:before {
  content: "\e17d";
}

.icon-grain:before {
  content: "\e17e";
}

.icon-grid-off:before {
  content: "\e17f";
}

.icon-grid-on:before {
  content: "\e180";
}

.icon-hdr-off:before {
  content: "\e181";
}

.icon-hdr-on:before {
  content: "\e182";
}

.icon-hdr-strong:before {
  content: "\e183";
}

.icon-hdr-weak:before {
  content: "\e184";
}

.icon-healing:before {
  content: "\e185";
}

.icon-image:before {
  content: "\e186";
}

.icon-image-aspect-ratio:before {
  content: "\e187";
}

.icon-iso:before {
  content: "\e188";
}

.icon-landscape:before {
  content: "\e189";
}

.icon-leak-add:before {
  content: "\e18a";
}

.icon-leak-remove:before {
  content: "\e18b";
}

.icon-lens:before {
  content: "\e18c";
}

.icon-looks-3:before {
  content: "\e18d";
}

.icon-looks:before {
  content: "\e18e";
}

.icon-looks-4:before {
  content: "\e18f";
}

.icon-looks-5:before {
  content: "\e190";
}

.icon-looks-6:before {
  content: "\e191";
}

.icon-looks-one:before {
  content: "\e192";
}

.icon-looks-two:before {
  content: "\e193";
}

.icon-loupe:before {
  content: "\e194";
}

.icon-monochrome-photos:before {
  content: "\e195";
}

.icon-movie-creation:before {
  content: "\e196";
}

.icon-music-note:before {
  content: "\e197";
}

.icon-nature:before {
  content: "\e198";
}

.icon-nature-people:before {
  content: "\e199";
}

.icon-navigate-before:before {
  content: "\e19a";
}

.icon-navigate-next:before {
  content: "\e19b";
}

.icon-palette:before {
  content: "\e19c";
}

.icon-panorama:before {
  content: "\e19d";
}

.icon-panorama-fish-eye:before {
  content: "\e19e";
}

.icon-panorama-horizontal:before {
  content: "\e19f";
}

.icon-panorama-vertical:before {
  content: "\e1a0";
}

.icon-panorama-wide-angle:before {
  content: "\e1a1";
}

.icon-photo:before {
  content: "\e1a2";
}

.icon-photo-album:before {
  content: "\e1a3";
}

.icon-photo-camera:before {
  content: "\e1a4";
}

.icon-photo-library:before {
  content: "\e1a5";
}

.icon-picture-as-pdf:before {
  content: "\e1a6";
}

.icon-portrait:before {
  content: "\e1a7";
}

.icon-remove-red-eye:before {
  content: "\e1a8";
}

.icon-rotate-90-degrees-ccw:before {
  content: "\e1a9";
}

.icon-rotate-left:before {
  content: "\e1aa";
}

.icon-rotate-right:before {
  content: "\e1ab";
}

.icon-slideshow:before {
  content: "\e1ac";
}

.icon-straighten:before {
  content: "\e1ad";
}

.icon-style:before {
  content: "\e1ae";
}

.icon-switch-camera:before {
  content: "\e1af";
}

.icon-switch-video:before {
  content: "\e1b0";
}

.icon-tag-faces:before {
  content: "\e1b1";
}

.icon-texture:before {
  content: "\e1b2";
}

.icon-timelapse:before {
  content: "\e1b3";
}

.icon-timer-10:before {
  content: "\e1b4";
}

.icon-timer-3:before {
  content: "\e1b5";
}

.icon-timer:before {
  content: "\e1b6";
}

.icon-timer-off:before {
  content: "\e1b7";
}

.icon-tonality:before {
  content: "\e1b8";
}

.icon-transform:before {
  content: "\e1b9";
}

.icon-tune:before {
  content: "\e1ba";
}

.icon-view-comfortable:before {
  content: "\e1bb";
}

.icon-view-compact:before {
  content: "\e1bc";
}

.icon-wb-auto:before {
  content: "\e1bd";
}

.icon-wb-cloudy:before {
  content: "\e1be";
}

.icon-wb-incandescent:before {
  content: "\e1bf";
}

.icon-wb-sunny:before {
  content: "\e1c0";
}

.icon-collections-bookmark:before {
  content: "\e1c1";
}

.icon-photo-size-select-actual:before {
  content: "\e1c2";
}

.icon-photo-size-select-large:before {
  content: "\e1c3";
}

.icon-photo-size-select-small:before {
  content: "\e1c4";
}

.icon-vignette:before {
  content: "\e1c5";
}

.icon-wb-iridescent:before {
  content: "\e1c6";
}

.icon-beenhere:before {
  content: "\e1c7";
}

.icon-directions:before {
  content: "\e1c8";
}

.icon-directions-bike:before {
  content: "\e1c9";
}

.icon-directions-bus:before {
  content: "\e1ca";
}

.icon-directions-car:before {
  content: "\e1cb";
}

.icon-directions-ferry:before {
  content: "\e1cc";
}

.icon-directions-subway:before {
  content: "\e1cd";
}

.icon-directions-railway:before {
  content: "\e1ce";
}

.icon-directions-transit:before {
  content: "\e1cf";
}

.icon-directions-walk:before {
  content: "\e1d0";
}

.icon-flight:before {
  content: "\e1d1";
}

.icon-hotel:before {
  content: "\e1d2";
}

.icon-layers:before {
  content: "\e1d3";
}

.icon-layers-clear:before {
  content: "\e1d4";
}

.icon-local-airport:before {
  content: "\e1d5";
}

.icon-local-atm:before {
  content: "\e1d6";
}

.icon-local-attraction:before {
  content: "\e1d7";
}

.icon-local-bar:before {
  content: "\e1d8";
}

.icon-local-cafe:before {
  content: "\e1d9";
}

.icon-local-car-wash:before {
  content: "\e1da";
}

.icon-local-convenience-store:before {
  content: "\e1db";
}

.icon-local-drink:before {
  content: "\e1dc";
}

.icon-local-florist:before {
  content: "\e1dd";
}

.icon-local-gas-station:before {
  content: "\e1de";
}

.icon-local-grocery-store:before {
  content: "\e1df";
}

.icon-local-hospital:before {
  content: "\e1e0";
}

.icon-local-hotel:before {
  content: "\e1e1";
}

.icon-local-laundry-service:before {
  content: "\e1e2";
}

.icon-local-library:before {
  content: "\e1e3";
}

.icon-local-mall:before {
  content: "\e1e4";
}

.icon-local-movies:before {
  content: "\e1e5";
}

.icon-local-offer:before {
  content: "\e1e6";
}

.icon-local-parking:before {
  content: "\e1e7";
}

.icon-local-pharmacy:before {
  content: "\e1e8";
}

.icon-local-phone:before {
  content: "\e1e9";
}

.icon-local-pizza:before {
  content: "\e1ea";
}

.icon-local-play:before {
  content: "\e1eb";
}

.icon-local-post-office:before {
  content: "\e1ec";
}

.icon-local-print-shop:before {
  content: "\e1ed";
}

.icon-local-restaurant:before {
  content: "\e1ee";
}

.icon-local-see:before {
  content: "\e1ef";
}

.icon-local-shipping:before {
  content: "\e1f0";
}

.icon-local-taxi:before {
  content: "\e1f1";
}

.icon-location-history:before {
  content: "\e1f2";
}

.icon-map:before {
  content: "\e1f3";
}

.icon-my-location:before {
  content: "\e1f4";
}

.icon-navigation:before {
  content: "\e1f5";
}

.icon-pin-drop:before {
  content: "\e1f6";
}

.icon-place:before {
  content: "\e1f7";
}

.icon-rate-review:before {
  content: "\e1f8";
}

.icon-restaurant-menu:before {
  content: "\e1f9";
}

.icon-satellite:before {
  content: "\e1fa";
}

.icon-store-mall-directory:before {
  content: "\e1fb";
}

.icon-terrain:before {
  content: "\e1fc";
}

.icon-traffic:before {
  content: "\e1fd";
}

.icon-directions-run:before {
  content: "\e1fe";
}

.icon-apps:before {
  content: "\e1ff";
}

.icon-arrow-back:before {
  content: "\e200";
}

.icon-arrow-drop-down:before {
  content: "\e201";
}

.icon-arrow-drop-down-circle:before {
  content: "\e202";
}

.icon-arrow-drop-up:before {
  content: "\e203";
}

.icon-arrow-forward:before {
  content: "\e204";
}

.icon-cancel:before {
  content: "\e205";
}

.icon-check:before {
  content: "\e206";
}

.icon-chevron-left:before {
  content: "\e207";
}

.icon-chevron-right:before {
  content: "\e208";
}

.icon-close:before {
  content: "\e209";
}

.icon-expand-less:before {
  content: "\e20a";
}

.icon-expand-more:before {
  content: "\e20b";
}

.icon-fullscreen:before {
  content: "\e20c";
}

.icon-fullscreen-exit:before {
  content: "\e20d";
}

.icon-menu:before {
  content: "\e20e";
}

.icon-keyboard-control:before {
  content: "\e20f";
}

.icon-more-vert:before {
  content: "\e210";
}

.icon-refresh:before {
  content: "\e211";
}

.icon-unfold-less:before {
  content: "\e212";
}

.icon-unfold-more:before {
  content: "\e213";
}

.icon-adb:before {
  content: "\e214";
}

.icon-bluetooth-audio:before {
  content: "\e215";
}

.icon-disc-full:before {
  content: "\e216";
}

.icon-do-not-disturb-alt:before {
  content: "\e217";
}

.icon-do-not-disturb:before {
  content: "\e218";
}

.icon-drive-eta:before {
  content: "\e219";
}

.icon-event-available:before {
  content: "\e21a";
}

.icon-event-busy:before {
  content: "\e21b";
}

.icon-event-note:before {
  content: "\e21c";
}

.icon-folder-special:before {
  content: "\e21d";
}

.icon-mms:before {
  content: "\e21e";
}

.icon-more:before {
  content: "\e21f";
}

.icon-network-locked:before {
  content: "\e220";
}

.icon-phone-bluetooth-speaker:before {
  content: "\e221";
}

.icon-phone-forwarded:before {
  content: "\e222";
}

.icon-phone-in-talk:before {
  content: "\e223";
}

.icon-phone-locked:before {
  content: "\e224";
}

.icon-phone-missed:before {
  content: "\e225";
}

.icon-phone-paused:before {
  content: "\e226";
}

.icon-sd-card:before {
  content: "\e227";
}

.icon-sim-card-alert:before {
  content: "\e228";
}

.icon-sms:before {
  content: "\e229";
}

.icon-sms-failed:before {
  content: "\e22a";
}

.icon-sync:before {
  content: "\e22b";
}

.icon-sync-disabled:before {
  content: "\e22c";
}

.icon-sync-problem:before {
  content: "\e22d";
}

.icon-system-update:before {
  content: "\e22e";
}

.icon-tap-and-play:before {
  content: "\e22f";
}

.icon-time-to-leave:before {
  content: "\e230";
}

.icon-vibration:before {
  content: "\e231";
}

.icon-voice-chat:before {
  content: "\e232";
}

.icon-vpn-lock:before {
  content: "\e233";
}

.icon-airline-seat-flat:before {
  content: "\e234";
}

.icon-airline-seat-flat-angled:before {
  content: "\e235";
}

.icon-airline-seat-individual-suite:before {
  content: "\e236";
}

.icon-airline-seat-legroom-extra:before {
  content: "\e237";
}

.icon-airline-seat-legroom-normal:before {
  content: "\e238";
}

.icon-airline-seat-legroom-reduced:before {
  content: "\e239";
}

.icon-airline-seat-recline-extra:before {
  content: "\e23a";
}

.icon-airline-seat-recline-normal:before {
  content: "\e23b";
}

.icon-confirmation-number:before {
  content: "\e23c";
}

.icon-live-tv:before {
  content: "\e23d";
}

.icon-ondemand-video:before {
  content: "\e23e";
}

.icon-personal-video:before {
  content: "\e23f";
}

.icon-power:before {
  content: "\e240";
}

.icon-wc:before {
  content: "\e241";
}

.icon-wifi:before {
  content: "\e242";
}

.icon-cake:before {
  content: "\e243";
}

.icon-domain:before {
  content: "\e244";
}

.icon-group:before {
  content: "\e245";
}

.icon-group-add:before {
  content: "\e246";
}

.icon-location-city:before {
  content: "\e247";
}

.icon-mood:before {
  content: "\e248";
}

.icon-mood-bad:before {
  content: "\e249";
}

.icon-notifications:before {
  content: "\e24a";
}

.icon-notifications-none:before {
  content: "\e24b";
}

.icon-notifications-off:before {
  content: "\e24c";
}

.icon-notifications-active:before {
  content: "\e24d";
}

.icon-notifications-paused:before {
  content: "\e24e";
}

.icon-pages:before {
  content: "\e24f";
}

.icon-party-mode:before {
  content: "\e250";
}

.icon-people:before {
  content: "\e251";
}

.icon-people-outline:before {
  content: "\e252";
}

.icon-person:before {
  content: "\e253";
}

.icon-person-add:before {
  content: "\e254";
}

.icon-person-outline:before {
  content: "\e255";
}

.icon-plus-one:before {
  content: "\e256";
}

.icon-poll:before {
  content: "\e257";
}

.icon-public:before {
  content: "\e258";
}

.icon-school:before {
  content: "\e259";
}

.icon-share:before {
  content: "\e25a";
}

.icon-whatshot:before {
  content: "\e25b";
}

.icon-check-box:before {
  content: "\e25c";
}

.icon-check-box-outline-blank:before {
  content: "\e25d";
}

.icon-radio-button-unchecked:before {
  content: "\e25e";
}

.icon-radio-button-checked:before {
  content: "\e25f";
}

.icon-star:before {
  content: "\e260";
}

.icon-star-half:before {
  content: "\e261";
}

.icon-star-outline:before {
  content: "\e262";
}

.icon-3d-rotation:before {
  content: "\e263";
}

.icon-accessibility:before {
  content: "\e264";
}

.icon-account-balance:before {
  content: "\e265";
}

.icon-account-balance-wallet:before {
  content: "\e266";
}

.icon-account-box:before {
  content: "\e267";
}

.icon-account-circle:before {
  content: "\e268";
}

.icon-add-shopping-cart:before {
  content: "\e269";
}

.icon-alarm:before {
  content: "\e26a";
}

.icon-alarm-add:before {
  content: "\e26b";
}

.icon-alarm-off:before {
  content: "\e26c";
}

.icon-alarm-on:before {
  content: "\e26d";
}

.icon-android:before {
  content: "\e26e";
}

.icon-announcement:before {
  content: "\e26f";
}

.icon-aspect-ratio:before {
  content: "\e270";
}

.icon-assessment:before {
  content: "\e271";
}

.icon-assignment:before {
  content: "\e272";
}

.icon-assignment-ind:before {
  content: "\e273";
}

.icon-assignment-late:before {
  content: "\e274";
}

.icon-assignment-return:before {
  content: "\e275";
}

.icon-assignment-returned:before {
  content: "\e276";
}

.icon-assignment-turned-in:before {
  content: "\e277";
}

.icon-autorenew:before {
  content: "\e278";
}

.icon-backup:before {
  content: "\e279";
}

.icon-book:before {
  content: "\e27a";
}

.icon-bookmark:before {
  content: "\e27b";
}

.icon-bookmark-outline:before {
  content: "\e27c";
}

.icon-bug-report:before {
  content: "\e27d";
}

.icon-build:before {
  content: "\e27e";
}

.icon-cached:before {
  content: "\e27f";
}

.icon-change-history:before {
  content: "\e280";
}

.icon-check-circle:before {
  content: "\e281";
}

.icon-chrome-reader-mode:before {
  content: "\e282";
}

.icon-class:before {
  content: "\e283";
}

.icon-code:before {
  content: "\e284";
}

.icon-credit-card:before {
  content: "\e285";
}

.icon-dashboard:before {
  content: "\e286";
}

.icon-delete:before {
  content: "\e287";
}

.icon-description:before {
  content: "\e288";
}

.icon-dns:before {
  content: "\e289";
}

.icon-done:before {
  content: "\e28a";
}

.icon-done-all:before {
  content: "\e28b";
}

.icon-event:before {
  content: "\e28c";
}

.icon-exit-to-app:before {
  content: "\e28d";
}

.icon-explore:before {
  content: "\e28e";
}

.icon-extension:before {
  content: "\e28f";
}

.icon-face:before {
  content: "\e290";
}

.icon-favorite:before {
  content: "\e291";
}

.icon-favorite-outline:before {
  content: "\e292";
}

.icon-feedback:before {
  content: "\e293";
}

.icon-find-in-page:before {
  content: "\e294";
}

.icon-find-replace:before {
  content: "\e295";
}

.icon-flip-to-back:before {
  content: "\e296";
}

.icon-flip-to-front:before {
  content: "\e297";
}

.icon-get-app:before {
  content: "\e298";
}

.icon-grade:before {
  content: "\e299";
}

.icon-group-work:before {
  content: "\e29a";
}

.icon-help:before {
  content: "\e29b";
}

.icon-highlight-remove:before {
  content: "\e29c";
}

.icon-history:before {
  content: "\e29d";
}

.icon-home:before {
  content: "\e29e";
}

.icon-hourglass-empty:before {
  content: "\e29f";
}

.icon-hourglass-full:before {
  content: "\e2a0";
}

.icon-https:before {
  content: "\e2a1";
}

.icon-info:before {
  content: "\e2a2";
}

.icon-info-outline:before {
  content: "\e2a3";
}

.icon-input:before {
  content: "\e2a4";
}

.icon-invert-colors-on:before {
  content: "\e2a5";
}

.icon-label:before {
  content: "\e2a6";
}

.icon-label-outline:before {
  content: "\e2a7";
}

.icon-language:before {
  content: "\e2a8";
}

.icon-launch:before {
  content: "\e2a9";
}

.icon-list:before {
  content: "\e2aa";
}

.icon-lock:before {
  content: "\e2ab";
}

.icon-lock-open:before {
  content: "\e2ac";
}

.icon-lock-outline:before {
  content: "\e2ad";
}

.icon-loyalty:before {
  content: "\e2ae";
}

.icon-markunread-mailbox:before {
  content: "\e2af";
}

.icon-note-add:before {
  content: "\e2b0";
}

.icon-open-in-browser:before {
  content: "\e2b1";
}

.icon-open-in-new:before {
  content: "\e2b2";
}

.icon-open-with:before {
  content: "\e2b3";
}

.icon-pageview:before {
  content: "\e2b4";
}

.icon-payment:before {
  content: "\e2b5";
}

.icon-perm-camera-mic:before {
  content: "\e2b6";
}

.icon-perm-contact-calendar:before {
  content: "\e2b7";
}

.icon-perm-data-setting:before {
  content: "\e2b8";
}

.icon-perm-device-information:before {
  content: "\e2b9";
}

.icon-perm-identity:before {
  content: "\e2ba";
}

.icon-perm-media:before {
  content: "\e2bb";
}

.icon-perm-phone-msg:before {
  content: "\e2bc";
}

.icon-perm-scan-wifi:before {
  content: "\e2bd";
}

.icon-picture-in-picture:before {
  content: "\e2be";
}

.icon-polymer:before {
  content: "\e2bf";
}

.icon-power-settings-new:before {
  content: "\e2c0";
}

.icon-print:before {
  content: "\e2c1";
}

.icon-query-builder:before {
  content: "\e2c2";
}

.icon-question-answer:before {
  content: "\e2c3";
}

.icon-receipt:before {
  content: "\e2c4";
}

.icon-redeem:before {
  content: "\e2c5";
}

.icon-report-problem:before {
  content: "\e2c6";
}

.icon-restore:before {
  content: "\e2c7";
}

.icon-room:before {
  content: "\e2c8";
}

.icon-schedule:before {
  content: "\e2c9";
}

.icon-search:before {
  content: "\e2ca";
}

.icon-settings:before {
  content: "\e2cb";
}

.icon-settings-applications:before {
  content: "\e2cc";
}

.icon-settings-backup-restore:before {
  content: "\e2cd";
}

.icon-settings-bluetooth:before {
  content: "\e2ce";
}

.icon-settings-cell:before {
  content: "\e2cf";
}

.icon-settings-brightness:before {
  content: "\e2d0";
}

.icon-settings-ethernet:before {
  content: "\e2d1";
}

.icon-settings-input-antenna:before {
  content: "\e2d2";
}

.icon-settings-input-component:before {
  content: "\e2d3";
}

.icon-settings-input-composite:before {
  content: "\e2d4";
}

.icon-settings-input-hdmi:before {
  content: "\e2d5";
}

.icon-settings-input-svideo:before {
  content: "\e2d6";
}

.icon-settings-overscan:before {
  content: "\e2d7";
}

.icon-settings-phone:before {
  content: "\e2d8";
}

.icon-settings-power:before {
  content: "\e2d9";
}

.icon-settings-remote:before {
  content: "\e2da";
}

.icon-settings-voice:before {
  content: "\e2db";
}

.icon-shop:before {
  content: "\e2dc";
}

.icon-shop-two:before {
  content: "\e2dd";
}

.icon-shopping-basket:before {
  content: "\e2de";
}

.icon-shopping-cart:before {
  content: "\e2df";
}

.icon-speaker-notes:before {
  content: "\e2e0";
}

.icon-spellcheck:before {
  content: "\e2e1";
}

.icon-stars:before {
  content: "\e2e2";
}

.icon-store:before {
  content: "\e2e3";
}

.icon-subject:before {
  content: "\e2e4";
}

.icon-supervisor-account:before {
  content: "\e2e5";
}

.icon-swap-horiz:before {
  content: "\e2e6";
}

.icon-swap-vert:before {
  content: "\e2e7";
}

.icon-swap-vertical-circle:before {
  content: "\e2e8";
}

.icon-system-update-alt:before {
  content: "\e2e9";
}

.icon-tab:before {
  content: "\e2ea";
}

.icon-tab-unselected:before {
  content: "\e2eb";
}

.icon-theaters:before {
  content: "\e2ec";
}

.icon-thumb-down:before {
  content: "\e2ed";
}

.icon-thumb-up:before {
  content: "\e2ee";
}

.icon-thumbs-up-down:before {
  content: "\e2ef";
}

.icon-toc:before {
  content: "\e2f0";
}

.icon-today:before {
  content: "\e2f1";
}

.icon-toll:before {
  content: "\e2f2";
}

.icon-track-changes:before {
  content: "\e2f3";
}

.icon-translate:before {
  content: "\e2f4";
}

.icon-trending-down:before {
  content: "\e2f5";
}

.icon-trending-neutral:before {
  content: "\e2f6";
}

.icon-trending-up:before {
  content: "\e2f7";
}

.icon-turned-in:before {
  content: "\e2f8";
}

.icon-turned-in-not:before {
  content: "\e2f9";
}

.icon-verified-user:before {
  content: "\e2fa";
}

.icon-view-agenda:before {
  content: "\e2fb";
}

.icon-view-array:before {
  content: "\e2fc";
}

.icon-view-carousel:before {
  content: "\e2fd";
}

.icon-view-column:before {
  content: "\e2fe";
}

.icon-view-day:before {
  content: "\e2ff";
}

.icon-view-headline:before {
  content: "\e300";
}

.icon-view-list:before {
  content: "\e301";
}

.icon-view-module:before {
  content: "\e302";
}

.icon-view-quilt:before {
  content: "\e303";
}

.icon-view-stream:before {
  content: "\e304";
}

.icon-view-week:before {
  content: "\e305";
}

.icon-visibility:before {
  content: "\e306";
}

.icon-visibility-off:before {
  content: "\e307";
}

.icon-card-giftcard:before {
  content: "\e308";
}

.icon-card-membership:before {
  content: "\e309";
}

.icon-card-travel:before {
  content: "\e30a";
}

.icon-work:before {
  content: "\e30b";
}

.icon-youtube-searched-for:before {
  content: "\e30c";
}

.icon-eject:before {
  content: "\e30d";
}

.icon-camera-enhance:before {
  content: "\e30e";
}

.icon-help-outline:before {
  content: "\e30f";
}

.icon-reorder:before {
  content: "\e310";
}

.icon-zoom-in:before {
  content: "\e311";
}

.icon-zoom-out:before {
  content: "\e312";
}

.icon-http:before {
  content: "\e313";
}

.icon-event-seat:before {
  content: "\e314";
}

.icon-flight-land:before {
  content: "\e315";
}

.icon-flight-takeoff:before {
  content: "\e316";
}

.icon-play-for-work:before {
  content: "\e317";
}

.icon-gif:before {
  content: "\e318";
}

.icon-indeterminate-check-box:before {
  content: "\e319";
}

.icon-offline-pin:before {
  content: "\e31a";
}
