/* results
------------------------------------------------- */

.results {
  transition: all $transition-ease-medium;
  .result-history {
    padding: 10px 0 100px 0;
    position: relative;
    z-index: 1;
    transition: all $transition-ease-medium;
    .result-item {
      padding: 10px 0;
      border-bottom: 1px solid $gray-02;
      position: relative;
      &:first-child {
        .total {
          border: 3px solid $primary-color;
          position: relative;
          z-index: 1;
          &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 100%;
            z-index: -1;
            animation: total-flash ease-out 0.5s;
            animation-iteration-count: 1;
            transform: translate(-50%, -50%);
          }
          &.critical-20 {
            border-color: $gray-alpha-08;
            &:before {
              animation: total-flash-critical-20 ease-out 0.5s;
            }
          }
          &.critical-1 {
            border-color: $gray-alpha-08;
            &:before {
              animation: total-flash-critical-1 ease-out 0.5s;
            }
          }
        }
      }
      &:last-child {
        border: 0;
      }
      .total,
      .breakdown {
        margin: 0;
        padding: 10px 0;
        display: block;
      }
      .breakdown {
        text-align: left;
        color: $gray-08;
        font-size: 1rem;
        .roll-name {
          color: $primary-color-light;
        }
        .number-of-dice {
          color: $gray-12;
        }
        .dice {
          color: $gray-12;
        }
        .multiple-dice-results {
          color: $gray-07;
          .strike {
            text-decoration: line-through;
            color: $primary-color-light;
          }
        }
        .number-of-bonus {
          color: $gray-12;
        }
      }
      .total {
        text-align: center;
        border: 3px solid transparent;
        border-radius: $border-radius-medium;
        font-family: $open-sans-condensed-light;
        color: $gray-12;
        line-height: 1.2rem;
        font-size: 1.6rem;
        position: relative;
        &.critical-20 {
          background-color: $critical-20;
          border-color: $gray-alpha-08;
          color: $white;
        }
        &.critical-1 {
          background-color: $critical-1;
          border-color: $gray-alpha-08;
          color: $white;
        }
      }
    }
  }
  .result-controls {
    background-color: $gray-01;
    padding: 10px 0;
    z-index: 2;
    box-shadow: $shadow-medium;
    transition: all $transition-ease-medium;
  }
  &.fullsize {
    height: 100%;
    bottom: 0;
    .result-history {
      padding: 30px 0 100px 0;
    }
    .result-controls {
      right: 0;
    }
  }
}


/* media queries
------------------------------------------------- */

@media (min-width: $screen-sm) {}

@media (min-width: $screen-md) {}

@media (min-width: $screen-lg) {
  .results {
    .result-history {
      padding: 60px 0 100px 0;
    }
    .result-controls {
      position: fixed;
      top: 0;
      right: 0;
      width: 40%;
      text-align: right;
    }
  }
}

@media (min-width: $screen-xl) {}


/* animations
------------------------------------------------- */

@keyframes total-flash {
  0% {
    background-color: $light-alpha-01;
    border: 3px solid $light-alpha-01;
    border-radius: $border-radius-medium;
  }
  100% {
    background-color: transparent;
    border: 20px solid transparent;
    border-radius: 15px;
  }
}

@keyframes total-flash-critical-20 {
  0% {
    background-color: $critical-20;
    border: 3px solid $critical-20;
    border-radius: $border-radius-medium;
  }
  100% {
    background-color: transparent;
    border: 20px solid transparent;
    border-radius: 15px;
  }
}

@keyframes total-flash-critical-1 {
  0% {
    background-color: $critical-1;
    border: 3px solid $critical-1;
    border-radius: $border-radius-medium;
  }
  100% {
    background-color: transparent;
    border: 20px solid transparent;
    border-radius: 15px;
  }
}
