/* snacks
------------------------------------------------- */

.snacks {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: $snacks;
  .snack-bar {
    background-color: $gray-02;
    border-bottom: 0 solid $gray-01;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    height: 0;
    overflow: hidden;
    box-sizing: content-box;
    transition: all $transition-ease-medium;
    .snack-message {
      color: $white;
      line-height: 20px;
      margin: 0;
      font-size: 0.8rem;
      font-family: $open-sans-semi-bold;
    }
    .button {
      padding: 0;
      height: 20px;
      line-height: 20px;
      font-size: 0.8rem;
      box-sizing: content-box;
      [class^="icon-"],
      [class*=" icon-"] {
        margin: 0;
        height: 20px;
        line-height: 20px;
        font-size: 0.8rem;
      }
    }
    .snack-clear {
      padding: 0 10px;
      margin: 0 10px 0 0;
      float: left;
    }
    &.reveal {
      border-bottom-width: 2px;
      padding: 10px 0;
      height: 20px;
    }
  }
}
