/* structure
------------------------------------------------- */

body {
  background: $secondary-color;
}

.controls {
  margin: 50px 0 0 0;
  padding: 0;
  z-index: 1;
  overflow: hidden;
}

.formulas {
  margin: 30px 0 0 0;
  &.active {
    .list {
      margin: 0 0 400px 0;
    }
  }
}

.results {
  background-color: $gray-02;
  position: fixed;
  bottom: -30%;
  height: 30%;
  width: 100%;
  z-index: $results;
  overflow-y: auto;
  transition: height $transition-ease-medium, bottom $transition-ease-medium, right $transition-ease-medium;
  &.active {
    bottom: 0;
  }
}


/* media queries
------------------------------------------------- */

@media (min-width: $screen-sm) {}

@media (min-width: $screen-md) {}

@media (min-width: $screen-lg) {
  body {
    background: $white;
  }
  .controls {
    margin: 70px 40% 0 0;
    width: 60%;
  }
  .formulas {
    margin: 30px 40% 0 0;
    width: 60%;
    &.active {
      .list {
        margin: 0 0 100px 0;
      }
    }
  }
  .results {
    top: 0;
    right: -40%;
    bottom: inherit;
    height: 100%;
    width: 40%;
    .result-controls {
      right: -40%;
      .toggle-fullscreen {
        display: none;
      }
    }
    &.active {
      bottom: inherit;
      right: 0;
      .result-controls {
        right: 0;
      }
    }
  }
}

@media (min-width: $screen-xl) {}
