// core
//––––––––––––––––––––––––––––––––––––––––––––––––––
::-webkit-full-screen {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
}

::selection {
  color: $white;
  background: $magenta;
}

::-moz-selection {
  color: $white;
  background: $magenta;
}

body {
  font-family: $open-sans-regular;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

section {
  &.column-third {
    position: relative;
    box-sizing: border-box;
    transition: $transition-ease-medium;
  }
  &.controls {
    padding: 30px;
    z-index: 3;
    box-shadow: $shadow-large;
    text-align: center;
    .formula {
      .number {
        position: relative;
        text-align: center;
        &.ofDice,
        &.ofBonus {
          input {
            margin: 0 0 5px 0;
            padding: 0;
            width: 60%;
            text-align: center;
            font-size: 2rem;
            line-height: 4rem;
            height: 4rem;
            font-family: $open-sans-condensed-light;
          }
          .clear {
            position: absolute;
            top: 15px;
            right: 20%;
          }
        }
      }
      .modifiers {
        text-align: center;
      }
    }
    .goRoll {
      margin: 30px 0;
    }
    .diceSelector {
      width: 100%;
      margin: 20px 0;
      text-align: center;
      label {
        display: inline-block;
        width: 55px;
        padding: 0;
        margin: 5px 0;
        line-height: 0;
        cursor: pointer;
        text-align: center;
        border: 0;
        outline: none;
        input {
          display: none;
        }
        .label-body {
          margin: 0;
          line-height: 0;
        }
        .diceRing {
          position: relative;
          display: block;
          width: 40px;
          height: 40px;
          margin: 0 auto;
          box-sizing: border-box;
          transition: all $transition-bounce-medium;
          transform: scale(1);
          border: 2px solid transparent;
          border-radius: 50%;
          background-color: $gray-1;
          .icon {
            position: absolute;
            top: 0;
            left: 0;
            width: 36px;
            height: 36px;
            font-size: 2em;
            line-height: 36px;
            transition: all $transition-bounce-medium;
            text-align: center;
          }
        }
        .label-body .diceRing {
          border-color: transparent;
        }
        &:hover .label-body .diceRing {
          border-color: $magenta;
          background-color: $white;
        }
        &.active .label-body .diceRing {
          transform: scale(1.6);
          border-color: $magenta;
          background-color: $white;
        }
        .label-body .icon {
          color: $white;
        }
        &:hover .label-body .icon,
        &.active .label-body .icon {
          color: $magenta;
        }
      }
    }
    .utilities {
      .button {
        margin: 0 0 5px 0;
      }
    }
  }
  &.results {
    padding: 30px 0;
    box-shadow: $shadow-large;
    z-index: 2;
    .list {
      p {
        padding: 0 30px 10px 30px;
        margin: 0 0 10px 0;
        border-bottom: 1px solid $gray-5;
        clear: both;
        color: $gray-3;
        width: 100%;
        box-sizing: border-box;
        transition: $transition-ease-medium;
        .total {
          border: 1px solid $gray-3;
          border-radius: $global-radius;
          color: $gray-1;
          display: inline-block;
          text-align: center;
          line-height: 2rem;
          width: 25%;
          float: left;
        }
        .breakdown {
          line-height: 2rem;
          width: 70%;
          float: right;
          font-size: 0.7rem;
        }
        .dice {
          font-size: 2rem;
          vertical-align: middle;
          .icon {
            line-height: 2rem;
          }
        }
        &:first-child {
          font-size: 1.5rem;
          .total {
            border-color: $magenta;
            line-height: 2.5rem;
          }
          .breakdown {
            color: $gray-1;
            line-height: 2.5rem;
            font-size: 0.7rem;
          }
        }
        &:last-child {
          border: 0;
          margin: 0;
        }
        &.critical-20 {
          // color: $white;
          .total {
            background-color: $critical-20;
            border-color: $critical-20;
            color: $white;
          }
        }
        &.critical-1 {
          // color: $white;
          .total {
            background-color: $critical-1;
            border-color: $critical-1;
            color: $white;
          }
        }
      }
    }
  }
  &.formulas {
    padding: 30px;
    z-index: 1;
    .savedRolls {
      .list {
        .savedFormula {
          .dice {
            font-size: 2rem;
            vertical-align: middle;
          }
          .name {
            width: 100%;
            margin: 0 0 5px 0;
          }
          .roll {
            margin: 0 10px 0 0;
            display: inline-block;
          }
          span {
            display: inline-block;
          }
          .deleteSavedFormulaConfirm {
            float: right;
          }
          .delete,
          .cancel {
            display: none;
          }
          .clear {
            display: inline-block;
          }
          &.showDelete {
            .delete,
            .cancel {
              display: inline-block;
            }
            .clear {
              display: none;
            }
          }
        }
      }
    }
  }
}

// media queries
@media (min-width: 550px) {}

@media (min-width: 750px) {
  html,
  body {
    height: 100%;
  }
  section {
    &.column-third {
      width: 33.3333333333%;
      float: left;
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
    }
    &.controls {
      z-index: 3;
      .formula {
        .number {
          &.ofDice,
          &.ofBonus {
            input {
              width: 80%;
            }
            .clear {
              right: 10%;
            }
          }
        }
      }
    }
    &.results {
      background-color: $background-color;
      z-index: 1;
      box-shadow: none;
    }
    &.formulas {
      z-index: 2;
      box-shadow: $shadow-large;
    }
  }
}

@media (min-width: 900px) {
  section {
    &.column-third {
      &.controls {
        padding: 60px;
      }
      &.results {
        padding: 60px 0;
        .list {
          p {
            padding: 0 60px 10px 60px;
          }
        }
      }
      &.formulas {
        padding: 60px;
      }
    }
  }
}
