// basic colors
// -------------------------
$black:                       #000000;
$white:                       #ffffff;

$background-color:            #f0f0f0;

$magenta:                     #ff0055;
$magenta-dark:                #cc0044;
$magenta-light:               #ff3276;

$aqua:                        #003c4f;
$aqua-dark:                   #00303f;
$aqua-light:                  #326272;

$gray:                        #555555;
$gray-dark:                   #eeeeee;
$gray-light:                  #f0f0f0;

$critical-20:                 #33c3f0;
$critical-1:                  #990000;

// typography
// -------------------------
$font-family-sans-serif:      "Antonio", Helvetica, Arial, sans-serif;
$font-family-serif:           Georgia, "Times New Roman", Times, serif;

// transitions
// -------------------------

$transition-bounce-slow:         0.5s cubic-bezier(0.7, -0.6, 0.3, 1.6);
$transition-bounce-medium:       0.3s cubic-bezier(0.7, -0.6, 0.3, 1.6);
$transition-bounce-fast:         0.1s cubic-bezier(0.7, -0.6, 0.3, 1.6);
$transition-ease-slow:           0.5s ease-in-out;
$transition-ease-medium:         0.3s ease-in-out;
$transition-ease-fast:           0.1s ease-in-out;


// drop shadows
// -------------------------

$shadow-large:                    0 1px 1px rgba(0, 0, 0, 0.1),
                                  0 10px 40px rgba(0, 0, 0, 0.1);
$shadow-small:                    0 1px 0 rgba(0, 0, 0, 0.05),
                                  0 2px 0 rgba(0, 0, 0, 0.05),
                                  0 3px 0 rgba(0, 0, 0, 0.05);