// basic colors
// -------------------------
$black:                               #000000;
$white:                               #ffffff;

$background-color:                    #fafafa;

$magenta:                             #ff0055;
$magenta-dark:                        #cc0044;
$magenta-light:                       #ff3276;

$aqua:                                #003c4f;
$aqua-dark:                           #00303f;
$aqua-light:                          #326272;

$gray-1:                              #404040;
$gray-2:                              #737373;
$gray-3:                              #a6a6a6;
$gray-4:                              #d9d9d9;
$gray-5:                              #f1f1f1;

$critical-20:                         #33c3f0;
$critical-1:                          #990000;

// typography
// -------------------------

$open-sans-bold:                      "Open Sans Bold", Helvetica, Arial, sans-serif;
$open-sans-regular:                   "Open Sans Regular", Helvetica, Arial, sans-serif;
$open-sans-light:                     "Open Sans Light", Helvetica, Arial, sans-serif;
$open-sans-bold-italic:               "Open Sans Bold Italic", Helvetica, Arial, sans-serif;
$open-sans-italic:                    "Open Sans Italic", Helvetica, Arial, sans-serif;
$open-sans-light-italic:              "Open Sans Light Italic", Helvetica, Arial, sans-serif;
$open-sans-semi-bold-italic:          "Open Sans Semi Bold Italic", Helvetica, Arial, sans-serif;
$open-sans-semi-bold:                 "Open Sans Semi Bold", Helvetica, Arial, sans-serif;
$open-sans-condensed-bold:            "Open Sans Condensed Bold", Helvetica, Arial, sans-serif;
$open-sans-condensed-light-italic:    "Open Sans Condensed Light Italic", Helvetica, Arial, sans-serif;
$open-sans-condensed-light:           "Open Sans Condensed Light", Helvetica, Arial, sans-serif;


// transitions
// -------------------------

$transition-bounce-slow:             0.5s cubic-bezier(0.7, -0.6, 0.3, 1.6);
$transition-bounce-medium:           0.3s cubic-bezier(0.7, -0.6, 0.3, 1.6);
$transition-bounce-fast:             0.1s cubic-bezier(0.7, -0.6, 0.3, 1.6);
$transition-ease-slow:               0.5s ease-in-out;
$transition-ease-medium:             0.3s ease-in-out;
$transition-ease-fast:               0.1s ease-in-out;

// drop shadows
// -------------------------

$shadow-large:                       0 1px 1px rgba(0, 0, 0, 0.1),
                                     0 10px 40px rgba(0, 0, 0, 0.1);
$shadow-small:                       0 1px 0 rgba(0, 0, 0, 0.05),
                                     0 2px 0 rgba(0, 0, 0, 0.05),
                                     0 3px 0 rgba(0, 0, 0, 0.05);

$shadow-large-inset:                 inset 0 1px 1px rgba(0, 0, 0, 0.1),
                                     inset 0 10px 40px rgba(0, 0, 0, 0.1);
$shadow-small-inset:                 inset 0 1px 0 rgba(0, 0, 0, 0.05),
                                     inset 0 2px 0 rgba(0, 0, 0, 0.05),
                                     0 3px 0 rgba(0, 0, 0, 0.05);

// radius
// -------------------------
$global-radius:                      3px;