
<!-- build:js js/vendor.min.js -->
<script src="bower_components/Sortable/Sortable.js"></script>
<!-- endbuild -->
<!-- build:js js/lostd20.min.js -->
<script src="js/lostd20.js"></script>
<script src="js/vendorOptions.js"></script>
<!-- endbuild -->
</script>
</body>
</html>