<section class="formulas">
  <div class="row">
    <div class="col-xs-12">
      <section class="saved-formulas">
        <div class="list">
          

<div class="saved-formula-item">
  <div class="row no-gutter">
    <div class="col-xs-6">
      <input type="text" placeholder="Who am I?" class="saved-formula-name" tabindex="4">
    </div>
    <div class="col-xs-3">
      <p class="formula"><span class="number-of-dice">1</span> <span class="dice">d20</span> <span class="number-of-bonus">+10</span></p>
    </div>
    <div class="col-xs-3">
      <a href="javascript:void(0)" class="button button-primary button-block roll" tabindex="4">Roll</a>
    </div>
  </div>
</div>


<div class="saved-formula-item">
  <div class="row no-gutter">
    <div class="col-xs-6">
      <input type="text" placeholder="Who am I?" class="saved-formula-name" tabindex="4">
    </div>
    <div class="col-xs-3">
      <p class="formula"><span class="number-of-dice">1</span> <span class="dice">d20</span> <span class="number-of-bonus">+10</span></p>
    </div>
    <div class="col-xs-3">
      <a href="javascript:void(0)" class="button button-primary button-block roll" tabindex="4">Roll</a>
    </div>
  </div>
</div>


<div class="saved-formula-item">
  <div class="row no-gutter">
    <div class="col-xs-6">
      <input type="text" placeholder="Who am I?" class="saved-formula-name" tabindex="4">
    </div>
    <div class="col-xs-3">
      <p class="formula"><span class="number-of-dice">1</span> <span class="dice">d20</span> <span class="number-of-bonus">+10</span></p>
    </div>
    <div class="col-xs-3">
      <a href="javascript:void(0)" class="button button-primary button-block roll" tabindex="4">Roll</a>
    </div>
  </div>
</div>





















        </div>
      </section>
    </div>
  </div>
</section>
