<section class="formulas">
  <div class="row">
    <div class="col-xs-12">
      <section class="saved-formulas">
        <div class="list">
          


<div class="row">
  <div class="col-xs-10">
    <input type="text" placeholder="Who am I?" value="" tabindex="4">
    <div class="row">
      <div class="col-xs-6">
        <p><span class="">1</span> <span class="">d20</span> <span class="">+10</span></p>
      </div>
      <div class="col-xs-6">
        <a href="javascript:void(0)" class="button button-secondary button-small move-up" tabindex="1"><span class="icon-expand-less"></span></a>
        <a href="javascript:void(0)" class="button button-secondary button-small move-down" tabindex="1"><span class="icon-expand-more"></span></a>
        <a href="javascript:void(0)" class="button button-secondary button-small clear" tabindex="1"><span class="icon-close"></span></a>
      </div>
    </div>
  </div>
  <div class="col-xs-2">
    <a href="javascript:void(0)" class="button button-primary button-block roll" tabindex="4">Roll</a>
  </div>
</div>



















        </div>
      </section>
    </div>
  </div>
</section>
