<section class="column-third controls">
  <section class="formula">
    <div class="number of-dice">
      <input type="tel" placeholder="1d" maxlength="3" tabindex="1">
      <a href="javascript:void(0)" class="button button-secondary clear">
        <span class="icon-close"></span>
      </a>
    </div>
    <div class="modifiers">
      <div class="change-amount of-dice">
        <a href="javascript:void(0)" class="button button-secondary minus-five" tabindex="1">-5</a>
        <a href="javascript:void(0)" class="button button-secondary minus-one" tabindex="1">-1</a>
        <a href="javascript:void(0)" class="button button-secondary plus-one" tabindex="1">+1</a>
        <a href="javascript:void(0)" class="button button-secondary plus-five" tabindex="1">+5</a>
      </div>
    </div>
    <form class="dice-form u-cf">
      <label for="d2">
        <span class="label-text">d2</span>
        <input type="radio" name="dice-select" id="d2" class="dice-select" value="2" tabindex="1">
        <span class="diceRing">
          <span class="diceIcon-d2"></span>
        </span>
      </label>
      <label for="d3">
        <span class="label-text">d3</span>
        <input type="radio" name="dice-select" id="d3" class="dice-select" value="3" tabindex="1">
        <span class="diceRing">
          <span class="diceIcon-d3"></span>
        </span>
      </label>
      <label for="d4">
        <span class="label-text">d4</span>
        <input type="radio" name="dice-select" id="d4" class="dice-select" value="4" tabindex="1">
        <span class="diceRing">
          <span class="diceIcon-d4"></span>
        </span>
      </label>
      <label for="d6">
        <span class="label-text">d6</span>
        <input type="radio" name="dice-select" id="d6" class="dice-select" value="6" tabindex="1">
        <span class="diceRing">
          <span class="diceIcon-d6"></span>
        </span>
      </label>
      <label for="d8">
        <span class="label-text">d8</span>
        <input type="radio" name="dice-select" id="d8" class="dice-select" value="8" tabindex="1">
        <span class="diceRing">
          <span class="diceIcon-d8"></span>
        </span>
      </label>
      <label for="d10">
        <span class="label-text">d10</span>
        <input type="radio" name="dice-select" id="d10" class="dice-select" value="10" tabindex="1">
        <span class="diceRing">
          <span class="diceIcon-d10"></span>
        </span>
      </label>
      <label for="d12">
        <span class="label-text">d12</span>
        <input type="radio" name="dice-select" id="d12" class="dice-select" value="12" tabindex="1">
        <span class="diceRing">
          <span class="diceIcon-d12"></span>
        </span>
      </label>
      <label for="d20" class="active">
        <span class="label-text">d20</span>
        <input type="radio" name="dice-select" id="d20" class="dice-select" value="20" checked tabindex="1">
        <span class="diceRing">
          <span class="diceIcon-d20"></span>
        </span>
      </label>
      <label for="d100">
        <span class="label-text">d100</span>
        <input type="radio" name="dice-select" id="d100" class="dice-select" value="100" tabindex="1">
        <span class="diceRing">
          <span class="diceIcon-d100"></span>
        </span>
      </label>
    </form>
    <div class="number of-bonus">
      <input type="tel" placeholder="+0 Bonus" maxlength="4" tabindex="1">
      <a href="javascript:void(0)" class="button button-secondary clear">
        <span class="icon-close"></span>
      </a>
    </div>
    <div class="modifiers">
      <div class="change-amount of-bonus">
        <a href="javascript:void(0)" class="button button-secondary minus-five" tabindex="1">-5</a>
        <a href="javascript:void(0)" class="button button-secondary minus-one" tabindex="1">-1</a>
        <a href="javascript:void(0)" class="button button-secondary plus-one" tabindex="1">+1</a>
        <a href="javascript:void(0)" class="button button-secondary plus-five" tabindex="1">+5</a>
      </div>
    </div>
    <a href="javascript:void(0)" class="button button-primary go-roll" tabindex="1">Roll The Dice</a>
  </section>
  <section class="utilities">
    <a href="javascript:void(0)" class="button button-secondary toggle-drop-lowest" tabindex="1" data-active="false">
      <span class="icon-check-box-outline-blank"></span> Drop Lowest</a>
    <a href="javascript:void(0)" class="button button-secondary toggle-fullscreen" tabindex="1">
      <span class="icon-fullscreen"></span> Fullscreen</a>
    <a href="javascript:void(0)" class="button button-secondary save-current-formula" tabindex="1">
      <span class="icon-playlist-add"></span> Save Formula</a>
    <a href="javascript:void(0)" class="button button-secondary clear-all" tabindex="1">
      <span class="icon-clear-all"></span> Clear</a>
  </section>
</section>
<!-- section divide -->
<section class="column-third formulas">
  <section class="saved-formulas">
    <div class="list"></div>
  </section>
</section>
<!-- section divide -->
<section class="column-third results">
  <a href="javascript:void(0)" class="button button-secondary dark-background toggle-fullscreen">
    <span class="icon-unfold-more"></span> Expand</a>
  <section class="result-history">
    <div class="list"></div>
  </section>
</section>
