<section class="utilities cf">
  <a href="javascript:void(0)" class="button button-dark save-current-formula" tabindex="1">
    <span class="icon-playlist-add"></span> <span class="utility-name">Save Formula</span></a>
  <a href="javascript:void(0)" class="button button-dark toggle-drop-lowest" tabindex="1" data-active="false">
    <span class="icon-check-box-outline-blank"></span> <span class="utility-name">Drop Lowest</span></a>
  <a href="javascript:void(0)" class="button button-dark toggle-fullscreen" tabindex="1">
    <span class="icon-fullscreen"></span> <span class="utility-name">Fullscreen</span></a>
  <a href="javascript:void(0)" class="button button-dark clear-all" tabindex="1">
    <span class="icon-clear-all"></span> <span class="utility-name">Clear History</span></a>
</section>

<div class="container cf">

  <section class="main-column controls">
    <div class="wrapper">
      <div class="number of-dice">
        <input type="tel" placeholder="1d" maxlength="3" tabindex="1">
        <a href="javascript:void(0)" class="button button-secondary button-small clear">
          <span class="icon-close"></span>
        </a>
        <div class="modifiers">
          <div class="change-amount of-dice cf">
            {{!-- <a href="javascript:void(0)" class="button button-secondary button-small minus-five" tabindex="1">-5</a> --}}
            <a href="javascript:void(0)" class="button button-secondary button-small minus-one" tabindex="1"><span class="icon-remove"></span></a>
            <a href="javascript:void(0)" class="button button-secondary button-small plus-one" tabindex="1"><span class="icon-add"></span></a>
            {{!-- <a href="javascript:void(0)" class="button button-secondary button-small plus-five" tabindex="1">+5</a> --}}
          </div>
        </div>
      </div>
      <form class="dice-form cf">
        <label for="d2">
          <span class="label-text">d2</span>
          <input type="radio" name="dice-select" id="d2" class="dice-select" value="2" tabindex="1">
          <span class="diceRing">
            <span class="diceIcon-d2"></span>
          </span>
        </label>
        <label for="d3">
          <span class="label-text">d3</span>
          <input type="radio" name="dice-select" id="d3" class="dice-select" value="3" tabindex="1">
          <span class="diceRing">
            <span class="diceIcon-d3"></span>
          </span>
        </label>
        <label for="d4">
          <span class="label-text">d4</span>
          <input type="radio" name="dice-select" id="d4" class="dice-select" value="4" tabindex="1">
          <span class="diceRing">
            <span class="diceIcon-d4"></span>
          </span>
        </label>
        <label for="d6">
          <span class="label-text">d6</span>
          <input type="radio" name="dice-select" id="d6" class="dice-select" value="6" tabindex="1">
          <span class="diceRing">
            <span class="diceIcon-d6"></span>
          </span>
        </label>
        <label for="d8">
          <span class="label-text">d8</span>
          <input type="radio" name="dice-select" id="d8" class="dice-select" value="8" tabindex="1">
          <span class="diceRing">
            <span class="diceIcon-d8"></span>
          </span>
        </label>
        <label for="d10">
          <span class="label-text">d10</span>
          <input type="radio" name="dice-select" id="d10" class="dice-select" value="10" tabindex="1">
          <span class="diceRing">
            <span class="diceIcon-d10"></span>
          </span>
        </label>
        <label for="d12">
          <span class="label-text">d12</span>
          <input type="radio" name="dice-select" id="d12" class="dice-select" value="12" tabindex="1">
          <span class="diceRing">
            <span class="diceIcon-d12"></span>
          </span>
        </label>
        <label for="d20" class="active">
          <span class="label-text">d20</span>
          <input type="radio" name="dice-select" id="d20" class="dice-select" value="20" checked tabindex="1">
          <span class="diceRing">
            <span class="diceIcon-d20"></span>
          </span>
        </label>
        <label for="d100">
          <span class="label-text">d100</span>
          <input type="radio" name="dice-select" id="d100" class="dice-select" value="100" tabindex="1">
          <span class="diceRing">
            <span class="diceIcon-d100"></span>
          </span>
        </label>
      </form>
      <div class="number of-bonus">
        <input type="tel" placeholder="+0 Bonus" maxlength="4" tabindex="1">
        <a href="javascript:void(0)" class="button button-secondary button-small clear">
          <span class="icon-close"></span>
        </a>
        <div class="modifiers">
          <div class="change-amount of-bonus cf">
            {{!-- <a href="javascript:void(0)" class="button button-secondary button-small minus-five" tabindex="1">-5</a> --}}
            <a href="javascript:void(0)" class="button button-secondary button-small minus-one" tabindex="1"><span class="icon-remove"></span></a>
            <a href="javascript:void(0)" class="button button-secondary button-small plus-one" tabindex="1"><span class="icon-add"></span></a>
            {{!-- <a href="javascript:void(0)" class="button button-secondary button-small plus-five" tabindex="1">+5</a> --}}
          </div>
        </div>
      </div>
      <a href="javascript:void(0)" class="button button-primary go-roll" tabindex="1">Roll The Dice</a>
    </div>
  </section>

  <section class="main-column formulas">
    <div class="wrapper">
      <div class="list"></div>
    </div>
  </section>

  <section class="main-column results">
    <div class="wrapper">
      <a href="javascript:void(0)" class="button button-dark toggle-fullscreen">
        <span class="icon-unfold-more"></span>
        <span class="expand">Expand</span>
        <span class="collapse">Collapse</span>
      </a>
      <section class="result-history">
        <div class="list"></div>
      </section>
    </div>
  </section>

</div>

<aside class="snacks"></aside>
