<section class="column-third controls">
  <section id="formulaModifiers">
    <div class="formula">
      <div class="number ofDice">
        <input type="tel" placeholder="1d" maxlength="3" tabindex="1">
        <a href="javascript:void(0)" class="button button-secondary clear">
          <span class="icon-close"></span>
        </a>
      </div>
      <div class="modifiers">
        <div class="changeAmount ofDice">
          <a href="javascript:void(0)" class="button button-secondary minusFive" tabindex="1">-5</a>
          <a href="javascript:void(0)" class="button button-secondary minusOne" tabindex="1">-1</a>
          <a href="javascript:void(0)" class="button button-secondary plusOne" tabindex="1">+1</a>
          <a href="javascript:void(0)" class="button button-secondary plusFive" tabindex="1">+5</a>
        </div>
      </div>
      <form class="diceSelector u-cf">
        <label for="d2">
          <input type="radio" name="diceSelect" id="d2" class="diceSelect" value="2">
          <span class="label-body">
            <span class="diceRing">
              <span class="diceIcon-d2"></span>
            </span>
          </span>
        </label>
        <label for="d3">
          <input type="radio" name="diceSelect" id="d3" class="diceSelect" value="3">
          <span class="label-body">
            <span class="diceRing">
              <span class="diceIcon-d3"></span>
            </span>
          </span>
        </label>
        <label for="d4">
          <input type="radio" name="diceSelect" id="d4" class="diceSelect" value="4">
          <span class="label-body">
            <span class="diceRing">
              <span class="diceIcon-d4"></span>
            </span>
          </span>
        </label>
        <label for="d6">
          <input type="radio" name="diceSelect" id="d6" class="diceSelect" value="6">
          <span class="label-body">
            <span class="diceRing">
              <span class="diceIcon-d6"></span>
            </span>
          </span>
        </label>
        <label for="d8">
          <input type="radio" name="diceSelect" id="d8" class="diceSelect" value="8">
          <span class="label-body">
            <span class="diceRing">
              <span class="diceIcon-d8"></span>
            </span>
          </span>
        </label>
        <label for="d10">
          <input type="radio" name="diceSelect" id="d10" class="diceSelect" value="10">
          <span class="label-body">
            <span class="diceRing">
              <span class="diceIcon-d10"></span>
            </span>
          </span>
        </label>
        <label for="d12">
          <input type="radio" name="diceSelect" id="d12" class="diceSelect" value="12">
          <span class="label-body">
            <span class="diceRing">
              <span class="diceIcon-d12"></span>
            </span>
          </span>
        </label>
        <label for="d20" class="active">
          <input type="radio" name="diceSelect" id="d20" class="diceSelect" value="20" checked>
          <span class="label-body">
            <span class="diceRing">
              <span class="diceIcon-d20"></span>
            </span>
          </span>
        </label>
        <label for="d100">
          <input type="radio" name="diceSelect" id="d100" class="diceSelect" value="100">
          <span class="label-body">
            <span class="diceRing">
              <span class="diceIcon-d100"></span>
            </span>
          </span>
        </label>
      </form>
      <div class="number ofBonus">
        <input type="tel" placeholder="+0 Bonus" maxlength="4" tabindex="1">
        <a href="javascript:void(0)" class="button button-secondary clear">
          <span class="icon-close"></span>
        </a>
      </div>
      <div class="modifiers">
        <div class="changeAmount ofBonus">
          <a href="javascript:void(0)" class="button button-secondary minusFive" tabindex="1">-5</a>
          <a href="javascript:void(0)" class="button button-secondary minusOne" tabindex="1">-1</a>
          <a href="javascript:void(0)" class="button button-secondary plusOne" tabindex="1">+1</a>
          <a href="javascript:void(0)" class="button button-secondary plusFive" tabindex="1">+5</a>
        </div>
      </div>
    </div>
    <a href="javascript:void(0)" class="goRoll button button-primary" tabindex="1">Roll The Dice</a>
  </section>
  <section class="utilities">
    <a href="javascript:void(0)" class="button button-secondary toggleDropLowest" tabindex="1" data-active="false">
      <span class="icon-arrow-drop-down"></span> Drop Lowest</a>
    <a href="javascript:void(0)" class="button button-secondary toggleFullscreen" tabindex="1">
      <span class="icon-fullscreen"></span> Fullscreen</a>
    <a href="javascript:void(0)" class="button button-secondary saveCurrentFormula" tabindex="1">
      <span class="icon-bookmark"></span> Save Formula</a>
    <a href="javascript:void(0)" class="button button-secondary clearAll" tabindex="1">
      <span class="icon-delete"></span> Clear</a>
  </section>
</section>

<!-- section divide -->

<section class="column-third formulas">
  <section class="savedRolls">
    <div class="list"></div>
  </section>
</section>

<!-- section divide -->

<section class="column-third results">
  <a href="javascript:void(0)" class="button button-secondary toggleFullscreen">
    <span class="icon-unfold-more"></span>
  </a>
  <section class="resultHistory">
    <div class="list"></div>
  </section>
</section>
