<nav>
  <div class="nav-toggle">
    <span class="line top"></span>
    <span class="line middle"></span>
    <span class="line bottom"></span>
  </div>
  <ul class="nav-list">
    <li><a href="javascript:void(0)" class="toggle-drop-lowest" data-active="false"><span class="icon-check-box-unchecked"></span>Drop Lowest</a></li>
    <li><a href="javascript:void(0)" class="toggle-fullscreen"><span class="icon-fullscreen"></span>Fullscreen</a></li>
    <li class="divide"></li>
    <li><a href="javascript:void(0)" class="clear-all"><span class="icon-delete"></span>Clear All</a></li>
  </ul>
</nav>
