<section class="main-column results">
  <div class="wrapper">
    <a href="javascript:void(0)" class="button button-dark toggle-fullscreen">
      <span class="icon-unfold-more"></span>
      <span class="expand">Expand</span>
      <span class="collapse">Collapse</span>
    </a>
    <section class="result-history">
      <div class="list"></div>
    </section>
  </div>
</section>
