<section class="results">
  <section class="result-controls">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <a href="javascript:void(0)" class="button button-dark button-small clear-results"><span class="icon-clear-all"></span>Clear Results</a>
          <a href="javascript:void(0)" class="button button-dark button-small toggle-fullscreen"><span class="icon-unfold-more"></span><span class="text">Expand</span></a>
        </div>
      </div>
    </div>
  </section>
  <section class="result-history">
    <div class="container">
      <div class="list"></div>
    </div>
  </section>
</section>
