<section class="results">
  <section class="result-controls">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <button class="button button-dark button-small button-icon expand-results"><span class="icon-unfold-more"></span><span class="text">Expand</span></button>
          <button class="button button-dark button-small button-icon clear-results"><span class="icon-clear-all"></span>Clear Results</button>
        </div>
      </div>
    </div>
  </section>
  <section class="result-history">
    <div class="container">
      <div class="list"></div>
    </div>
  </section>
</section>
