<section class="results">
  <div class="container">
    <div class="row">
      <div class="col-xs-4 col-xs-offset-4">
        <a href="javascript:void(0)" class="button button-dark button-block toggle-fullscreen"><span class="icon-unfold-more"></span>Expand</a>
      </div>
    </div>
    <section class="result-history">
      <div class="list"></div>
    </section>
  </div>
</section>
