.m-results {
  font-size: $font-size-root-100;
}

.m-results-current {
  
}

.m-results-history {
  background-color: $white;
  // padding: $font-size-300 0;
  height: calc(100vh - 40px - 4.5em);
  overflow-y: auto;
}

.m-result-item {
  padding-bottom: $font-size-100;
  margin-bottom: $font-size-100;
  line-height: $font-size-250;
  border-bottom: 2px solid $gray-20;
  display: flex;
  flex-flow: row nowrap;
  &:last-child {
    border: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  // &:first-child {
  //   .m-result-item-total {
  //     color: $white;
  //     background-color: $secondary-color-08;
  //     border-color: transparent;
  //     font-family: $open-sans-condensed-bold;
  //     animation: total-flash ease-out 0.5s;
  //     animation-iteration-count: 1;
  //     position: relative;
  //     &:before {
  //       content: "";
  //       position: absolute;
  //       top: 50%;
  //       left: 50%;
  //       width: 100%;
  //       height: 100%;
  //       z-index: -1;
  //       animation: total-border-flash ease-out 0.5s;
  //       animation-iteration-count: 1;
  //       transform: translate(-50%, -50%);
  //     }
  //     &.critical-20 {
  //       animation: total-flash-critical-20 ease-out 0.5s;
  //     }
  //     &.critical-1 {
  //       animation: total-flash-critical-1 ease-out 0.5s;
  //     }
  //   }
  // }
}

.m-result-item-wrapper-details,
.m-result-item-wrapper-total {
  margin-right: $font-size-100;
  &:last-child {
    margin-right: 0;
  }
}

.m-result-item-wrapper-details {
  flex: 1 1 auto;
  word-break: break-word;
}

.m-result-item-wrapper-total {
  flex-basis: 8em;
  flex-grow: 0;
  flex-shrink: 0;
}

.m-result-item-total {
  background-color: $gray-20;
  border: $border;
  border-color: $gray-18;
  box-sizing: border-box;
  text-align: center;
  border-radius: $border-radius-medium;
  font-family: $open-sans-condensed-light;
  color: $gray-02;
  font-size: $font-size-150;
  width: 100%;
  display: block;
}

.m-result-item-name,
.m-result-item-formula,
.m-result-item-results {
  color: $gray-14;
  margin-right: $font-size-100;
  &:last-child {
    margin-right: 0;
  }
}

.m-result-item-name {
  color: $secondary-color-10;
  font-family: $open-sans-bold;
}

.m-result-item-formula {
  color: $gray-06;
}

@keyframes total-flash {
  0% {
    background-color: $secondary-color-18;
  }
  100% {
    background-color: $secondary-color-08;
  }
}

@keyframes total-border-flash {
  0% {
    border: 0 solid $secondary-color-18;
    border-radius: $border-radius-medium;
  }
  100% {
    border: 30px solid $white;
    border-radius: 30px;
  }
}
