.m-results {
  font-size: $font-size-root-100;
}

.m-result-item {
  padding-bottom: $font-size-100;
  margin-bottom: $font-size-100;
  line-height: $font-size-250;
  border-bottom: 2px solid $gray-20;
  display: flex;
  flex-flow: row nowrap;
  &:last-child {
    border: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  &:first-child {
    .m-result-item-total {
      border-color: $secondary-color-14;
      background-color: $secondary-color-18;
      animation: total-flash ease-out 0.5s;
      animation-iteration-count: 1;
      &.critical-20 {
        animation: total-flash-critical-20 ease-out 0.5s;
      }
      &.critical-1 {
        animation: total-flash-critical-1 ease-out 0.5s;
      }
    }
  }
}

.m-result-item-details,
.m-result-item-total {
  margin-right: $font-size-100;
  display: inline-block;
  flex: 1 1 auto;
  &:last-child {
    margin-right: 0;
  }
}

.m-result-item-details {
  word-break: break-word;
}

.m-result-item-total {
  border: $border;
  border-color: $gray-18;
  background-color: $gray-20;
  box-sizing: border-box;
  flex-basis: $font-size-500;
  flex-grow: 0;
  flex-shrink: 0;
}

.m-result-item-total {
  text-align: center;
  border-radius: $border-radius-medium;
  font-family: $open-sans-condensed-light;
  color: $gray-02;
  font-size: $font-size-150;
}

.m-result-item-name,
.m-result-item-formula,
.m-result-item-results {
  color: $gray-14;
  margin-right: $font-size-100;
  &:last-child {
    margin-right: 0;
  }
}

.m-result-item-name,
.m-result-item-formula {
  color: $gray-06;
}

@keyframes total-flash {
  0% {
    background-color: $secondary-color-alpha-01;
    color: $white;
  }
  100% {
    background-color: $secondary-color-alpha-17;
    color: $gray-02;
  }
}

@keyframes total-flash-critical-20 {
  0% {
    background-color: $critical-20;
    border: 3px solid $critical-20;
    border-radius: $border-radius-medium;
  }
  100% {
    background-color: transparent;
    border: 20px solid transparent;
    border-radius: 15px;
  }
}

@keyframes total-flash-critical-1 {
  0% {
    background-color: $critical-1;
    border: 3px solid $critical-1;
    border-radius: $border-radius-medium;
  }
  100% {
    background-color: transparent;
    border: 20px solid transparent;
    border-radius: 15px;
  }
}
