.m-current-formula {
  font-size: $font-size-100;
  display: flex;
  flex-flow: row nowrap;
}

.m-current-formula-dice,
.m-current-formula-number-of-dice,
.m-current-formula-number-of-bonus {
  flex: 0 1 33.3333333333%;
}

.m-current-formula-number-of-dice-label,
.m-current-formula-number-of-bonus-label {
  margin-bottom: 0;
  padding-top: $font-size-100;
  padding-bottom: $font-size-100;
  line-height: $font-size-200;
  color: $secondary-color-10;
}
.m-current-formula-controls {
  background-color: $dark-alpha-18;
  .m-current-formula-controls-button {
    &.button {
      border-radius: 0;
      margin-bottom: 0;
      padding-top: $font-size-100;
      padding-bottom: $font-size-100;
      color: $secondary-color-10;
      &:link,
      &:visited {
        color: $secondary-color-10;
      }
      &:focus,
      &:hover {
        color: $white;
      }
      &:active,
      &.is-active {
        color: $white;
      }
    }
  }
}

.m-current-formula-dice {
  p {
    background-color: $dark-alpha-18;
    margin-top: $font-size-150;
    margin-bottom: 0;
    color: $white;
    font-size: $font-size-200;
    font-family: $open-sans-condensed-bold;
    display: block;
    height: $line-height-root-250;
    line-height: $line-height-root-250;
    padding: $font-size-025 0;
    text-align: center;
    border-bottom: $border;
  }
}

.m-current-formula-number-of-dice-input,
.m-current-formula-number-of-bonus-input {
  &[type="email"],
  &[type="number"],
  &[type="search"],
  &[type="text"],
  &[type="tel"],
  &[type="password"] {
    background-color: $dark-alpha-18;
    color: $white;
    font-size: $font-size-200;
    margin-bottom: 0;
    width: 100%;
    padding: $font-size-025 0;
    text-align: center;
    font-family: $open-sans-condensed-bold;
    &:focus {
      background-color: $dark-alpha-14;
    }
  }
}
